/* Left menu*/
ul.left-menu
{
	list-style:none;
	margin:0; padding:0;
	margin-left:20px;
	margin-top:18px;	
	position: relative; /*IE bug*/
}

ul.left-menu li
{
	padding-bottom: 10px;
}

ul.left-menu li a
{
	font-size:13px;
	color:#535353;
	text-transform:uppercase;
	text-decoration:none;
	line-height:1.85px;
}

ul.left-menu li a.selected, ul.left-menu li a:hover{
	color:#ff7700;
}
.level2{
	padding-left:20px;
	text-transform:lowercase !important;
} 


