.left-menu{margin:0;
	padding:0;}
.left-menu li {list-style:none;}	
.left-menu li a{
	display:block;
	font-size:12px;
	color:#696969;
	margin-bottom:8px;
	}
.left-menu li a:hover{color:#c2207d;}
.left-menu li .selected{color:#c2207d;}