.ema{
font-size: 13px;
font-style: italic;
padding: 5px;
width: 190px;
border: 1px dashed #000;}

.subba{font-size: 16px;
color: #FFF;
padding: 5px 30px;
background: #c2207d;
border: none;
cursor: pointer;
font-family: Georgia;}