/*Table*/
table.sale_basket_basket
{
	width:100%;

}
table.sale_basket_basket td td{border:none !important;}
table.sale_basket_basket td{
	padding:12px 20px 25px 20px;
	border-bottom:1px solid #dfdfdf;

}
/*Table head*/
table.sale_basket_basket th
{	font-weight:normal;
	padding:8px 20px;
	color:#FFF;
	font-size:18px;
	background:#404040;
	text-align:left;
}


.in_bask_h{color:#bbbbbb;
	font-size:30px;
	font-weight:normal;}
.in_bask_h span{color:#fd0059;}


.in_catalog{position: absolute;
	right: 0;
	top: 24px;
	font-size:14px;
	font-weight:normal;
	
	display: block;
	text-decoration: none;
	color: #FFF;
	padding: 5px 15px;
	background: url('/bitrix/templates/wit_ru/components/bitrix/news.detail/events/images/all.png') repeat-x;
	box-shadow: -2px 3px 10px #454545;}
	

	.delete_basket_click{background:url('images/delete_inbasket.png') no-repeat;
		width:35px;
		height:35px;
		cursor: pointer;
		}
		
.basket_name{font-size:16px;
	color:#ec0155;
	font-weight:bold;
	
	margin-bottom:5px;}
.basket_art{
	color:#989898;
	font-size:16px;
	}
.basket_art span{color:#050505;}

.basket_price{font-size:22px;
	color:#222;
	width:120px;
	font-weight:bold;}
 .basket_price span{color:#898989;
	font-size:14px;
	font-weight:normal;}
.pr_price{font-size:22px;
	color:#222;
	width:40px;
	font-weight:bold;}
 .pr_price span{color:#898989;
	font-size:14px;
	font-weight:normal;}

.basket_item_price{font-size:22px;
	color:#222;
	width:100px;
	font-weight:bold;}
 .basket_item_price span{color:#898989;
	font-size:14px;
	font-weight:normal;}	
.basket_count input{
	font-size:18px;
	color:#000;
	padding:3px 0;
	width:40px;
	text-align:center;font-family: Grot_c;
	border:1px solid #bebaba;
	}
	
.refrech_basket{
	font-size: 14px;
	font-weight: normal;
	font-family: Grot_c;
	border:none;
	cursor:pointer;
	color: #FFF;
	padding:6px 17px 5px 35px;
	background: url('images/resfr.png') no-repeat;
	box-shadow: -2px 3px 10px #454545;}
	
.basket_vsego{color:#989898;
	font-size:16px;
	}
	
.basket_all_summ2{font-size:30px;
	font-weight:bold;
	color:#ef236c;}
	
.basket_rub{color:#222;
	font-size:14px;
	}
.basket_all_summ{
	padding:16px 25px 16px 20px;;background:url('images/vsego.png') no-repeat;}
	
	#basketOrderButton2{color: #FFF;
		background: url('images/order_back.png') repeat-x;
		font-size: 24px;

		padding:14px 20px 13px 20px;
		
		box-shadow: -1px 2px 10px #454545;
		border: none;
		text-align: center;
		cursor: pointer;
		margin-left: 45px;
		font-family: Grot_c;
		
		}
#tab_basket_bot td{vertical-align:middle;}

.pos_in_cat{width:100%;
	height:50px;
	}
	
.in_catalog_bottom{font-size:14px;
	font-weight:normal;
	float:right;
	display: block;
	text-decoration: none;
	color: #FFF;
	padding: 5px 15px;
	margin-top:10px;
	margin-right:2px;
	background: url('/bitrix/templates/wit_ru/components/bitrix/news.detail/events/images/all.png') repeat-x;
	box-shadow: -2px 3px 10px #454545;
	}