/*Table*/
table.sale_basket_basket
{
	width:100%;
	margin-bottom:45px;
	margin-top:40px;
}
table.sale_basket_basket td{
	border-bottom:1px dashed #acacac;
}
table.sale_basket_basket th{padding:8px 0;
	border-bottom:1px dashed #acacac;
	font-weight:normal;
	font-style:italic;
	color:#696969;
	font-size:12px;
	text-align:center;}
.delete_b{width:24px;
	padding:58px 60px 58px 18px;}
.delete_basket_click{cursor:pointer;
	width:24px;
	height:24px;
	background:url('images/delete_basket.png') no-repeat;}
	
.art_td{text-align:center;
	font-size:16px;
	color:#acacac;
	width:150px;}
.price_td{color:#2d869e;
	font-size:20px;
	font-style:Georgia !important;
	padding:0 20px;
	width:90px;
	}
.quantity_td{width:42px;
	text-align:center;
	padding:0 10px;}
.quantity_td input{width:40px;
	padding:2px 0;
	border:1px dashed #acacac;
	color:#929292;
	font-style:italic;
	font-size:14px;
	text-align:center;}
.sale_td{font-size:16px;
	color:#acacac;
	width:60px;
	text-align:center;}
.itog_summ{font-size:27px;
	color:#c2207d;
	text-align:center;}
	
.basket_down{float:right;}
.down_line{
	font-family:Arial;
	margin-bottom:15px;
	}
.down_one{color:#696969;
	font-size:16px;
	float:left;}
.down_two{float:right;
	color:#696969;
	font-size:16px;
	width:100px;
	text-align:right;
	}
.allsumm{color:#c2207d !important;
	font-weight:bold !important;
	font-size:21px !important; 
	margin-left:2px;}
.allsumm2{color:#c2207d !important;
	font-weight:bold !important;
	font-size:21px !important; }
.back_catalog{font-size:16px;
	color:#FFF;
	padding:5px 16px;
	background:#4590a5;
	text-decoration:none;
	font-family:Georgia;}
	
.update_basket_2{font-size:16px;
	color:#FFF;
	padding:5px 16px;
	background:#4590a5;
	border:none;
	cursor:pointer;
	font-family:Georgia;
}
.basket_order{
font-size:16px;
	color:#FFF;
	padding:5px 30px;
	background:#c2207d;
	border:none;
	cursor:pointer;
	font-family:Georgia;
}