div.news-list img.preview_picture
{
	margin:0 4px 6px 0;
}
.news-date-time {
	/*color:#486DAA;*/
}
.news-item-name a{
text-decoration:none;
}
.news-item-text{
	padding-top:12px;
	padding-bottom:20px;	
}
.news-item{
	margin-bottom:20px;

}
.news-item hr{
	margin:0px;
	color:#7F4E24 !important;
	border:none;
}
.detail_slider .bx-prev, .detail_slider .bx-prev:hover{
	left:40%
	
}
.detail_slider .bx-next, .detail_slider .bx-next:hover{
	right:40%
}
.detail_slider .bx-wrapper .bx-controls-direction a{
	top:-38px;	
	width:24px;
	height:24px;	
}

.detail_slider {
	padding-top:50px;
}

.detail_slider .bx-wrapper .bx-prev {
    background: url("/bitrix/templates/main_page/images/detail_left_ar.png") no-repeat scroll 0 0 transparent;
}
.detail_slider .bx-wrapper .bx-next {
    background: url("/bitrix/templates/main_page/images/detail_right_ar.png") no-repeat scroll 0 0 transparent;
}
.detail_slider .bx-wrapper .bx-prev:hover {
    background: url("/bitrix/templates/main_page/images/detail_left_ar.png") no-repeat scroll 0 -24px transparent !important;
}
.detail_slider .bx-wrapper .bx-next:hover {
    background: url("/bitrix/templates/main_page/images/detail_right_ar.png") no-repeat scroll 0 -24px transparent !important;
}