.work_events{width:620px;
	margin-left:129px;
	margin-bottom:40px;}

.events_detail_img{height:280px;
	overflow:hidden;
	display:block;
	text-decoration:none;
	margin-bottom:15px;}
.pre_text{float:left;
	margin-left:16px;
	color:#404040;
	font-size:17px;
	width:500px;
	}
.data_events{float:left;
	font-family:Arial;
	font-size:11px;
	color:#c2207d;
	width:65px;
	margin-left:35px;
	}
.back_s{font-size:19px;
	color:#FFF;
	display:block;
	text-decoration:none;
	background:#4590a5;
	padding:2px 15px 4px 15px;
	width:108px;
	margin-left:145px;
	}
	
	
.slider-list{margin-bottom:12px;
	position:relative;}

.scrollable {
  /* required settings */
  position:relative;
  overflow:hidden;
  width: 620px;
  height:280px;
}
.scrollable .items {
  /* this cannot be too large */
  width:20000em;
  position:absolute;
}
 .items .it_slider {
  float:left;
  display:block;
  text-decoration:none;
  width: 620px;
  height:280px;
}
.prev{position:absolute;
	left:-60px;
	top:88px;
	width:24px;
	cursor:pointer;
	height:103px;
	background:url('images/left.png') no-repeat;
	z-index:1000;}
	
	
.next{position:absolute;
	right:-60px;
	top:88px;
	cursor:pointer;
	width:24px;
	height:103px;
	background:url('images/right.png') no-repeat;
	z-index:1000;}