.bottom-menu{margin:0;
	padding:0;
	list-style:none;}
.bottom-menu li{float:left;
	padding:0 5px;
	color:#fefefe;
	font-size:16px;}
.bottom-menu li a{color:#fefefe;
	font-size:16px;}
.bottom-menu li a:hover{text-decoration:none;}