
sup {
vertical-align: super;
}
sub {
vertical-align: sub;
}

.main-price-filter {
    margin-left: 6px;
    margin-top: 17px;
}

.rasporka {
clear: both;
height: 60px;
}
.validateLinks {
border-top: 1px solid #55b05a;
padding: 20px 0 0 20px;
height: 39px;
background: #fff;
margin-top: -60px;
}
* html .validateLinks {
height: 60px;
}
.validateLinks a {
color: #365d95;
}
.topPanel{
height: 90px;
text-align:center;
border-bottom: 1px solid #55b05a;
margin-bottom: 40px;
padding: 3px 0;
}

.formCost {
	margin-top: 10px;
}
.formCost label {
float: left;
font-size: 12px;
color: #E40000;
font-weight: bold;
margin-right: 5px;
position: relative;
top: 2px;
}
#slider-price{
	width:130px;
	float:left;
}
.formCost input {
    background: none repeat scroll 0 0 transparent;
    /*border: 1px solid #E5E5E5;*/
	border:none;
    color: #333333;
    font-size: 10px;
    height: 17px;
    text-align: right;
    width: 33px;
		display:inline;
}
.price-input{
    width: 50px;	
    float: left;	
    color: #333333;
    font-size: 10px;	
}
#divminCost{
	margin-right: 75px;
}
.sliderCont {
    width: 180px;
	padding-bottom:10px;
}
/* А это правила для скрипта: */
.sliderCont #slider1 {
width: 150px;
/*height:3px !important;*/
}

.ui-slider {
position: relative;
}
.ui-slider .ui-slider-handle {
position: absolute;
z-index: 2;
width: 13px;
height: 13px;
background: url(/bitrix/templates/main_page/images/filter_pol.png) no-repeat;
cursor: pointer
}
.ui-slider .ui-slider-range {
position: absolute;
z-index: 1;
font-size: .7em;
display: block;
border: 0;
overflow: hidden;
}
.ui-slider-horizontal {
height: 4px;
}
.ui-slider-horizontal .ui-slider-handle {
top: -5px;
margin-left: -6px;
text-decoration:none !important;
}
.ui-slider-horizontal .ui-slider-range {
top: 0;
height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
right: 0;
}
.ui-widget-content {
background: #9e9e9e;
}
.ui-widget-header {
background: #ffb321;
}
.ui-corner-all {

}
