.email_in{color:#d2d2d2;
	font-size:13px;
	font-style:italic;
	padding:5px;
	width:190px;
	border:1px dashed #000;}
.sub_in{
	font-size:12px;
	color:#5b5b5b;
	background:none;
	border:2px solid #f26c4f;
	padding:5px 10px;
	cursor:pointer;
	font-family:Georgia;
	}