.subscribe_main{
	width:548px;
	height:326px;
//	background: url("/img/bg.png");
}

.subscribe_title{
	color:#000000;
	font-size:11px;
	font-family:Arial;
	text-transform:uppercase;
	padding-left: 10px;
	padding-right:10px;
}
.subscribe_input{
	width:300px;
	height:23px;
	color:Green;
	font-size:11px;
	font-style:Italic;
	font-family:Arial;
	line-height:23px;
	border: 1px solid #B1B1B1;
	padding:0px;
	padding-left:4px;
	padding-right:4px;	
}
.subscribe_submit{
	width:44px;
	height:25px;
	color:#ffffff;
	font-size:11px;

	font-family:Arial;
	line-height:25px;
	text-align:center;
	background-color: #2B9FAE;
	border:none;
	background: url("/bitrix/templates/main_page/images/subscribe_submit.png") no-repeat scroll 0 0 transparent;
}