table.sale_order_full
{
	width:100%;
	background-color:#F9FAFB;
	border-collapse:collapse;
}

/*Table head*/
table.sale_order_full th
{
	/*background-image:url(images/table_head.gif);
	background-repeat:repeat-x;*/
	text-align: left;
	color:#25639A;
}

/* Table cells and heads*/
table.sale_order_full th, table.sale_order_full td
{
	border:1px solid #ADC3D5;
	padding: 3px 5px;
	vertical-align:top;
}
table.sale_order_full_table
{
	width:100%;

}
table.sale_order_full_table label {

}


table.sale_order_full_table td.radio {
	vertical-align:middle;
}

table.sale_order_full_table td table td {
	padding:0;
	vertical-align:middle;
}

table.sale_order_full_table td img {
	margin-right:5px;
}
.sof-req{color:red;}
.sof-ok{color:green; font-weight:bold;}
.search-popup{z-index:10000 !important;}
.search-popup-row{}

.sale_order_full_table_no_border{float:left;
	width:242px;
	margin-right:50px;}
.sale_order_full_table_no_border input[type="text"]{
	border: 1px solid #bdb9b9;
padding: 6px 10px;
width: 220px;
color: #2b2b2b;
font-size: 15px;

font-family: Arial;
}

.sale_order_full_table_no_border textarea{
resize: none;
font-family: Arial;
	border: 1px solid #bdb9b9;
padding: 6px 10px;
width: 220px;
height: 92px;
color: #2b2b2b;
font-size: 15px;


}

.email_text{color:#a2a2a2;
	font-size:14px;

	padding:10px 0 0px 0px;
	width:232px;}
.prop-a{margin-bottom:15px;}

.search-popup{width:238px !important;}

#order_form_content{position:relative;}
.payment_abs{position:absolute;
	top:5px;
	right:0;
	width:220px;}
.sposob{margin-bottom:25px;
	font-size:16px;
	color:#2d869e;
	font-weight:bold;}
.block_payment{color:#333;
	font-size:15px;
	text-decoration:none;
	border-bottom:1px dashed #333;}
.select_payment{color:#c2207d !important;
	border:none !important;
	font-weight:bold;}
.order_summ{width:220px;
	position:absolute;
	bottom:80px;
	right:0;}


.down_line {
font-family: Arial;
margin-bottom: 15px;
}

.down_one {
color: #989898;
font-size: 16px;
font-family: Grot_c, Arial;
}
.down_two span{font-size:22px;
	color:#222222;
	font-weight:bold;}
.down_two {
font-family: Grot_c, Arial;

color: #989898;
font-size: 16px;


}
.allsumm {
color: #c2207d !important;
font-weight: bold !important;
font-size: 21px !important;
margin-left: 2px;
}
.bidd_s{color:#ef236c !important;
	font-size:30px !important;
	font-weight:bold;}
.allsumm2 {
color: #c2207d !important;
font-weight: bold !important;
font-size: 21px !important;
}

.line_order{width:100%;
	border-top:1px solid #dfdfdf;
	height:1px;}
.order_bb{position:relative;}
.ord_but{position:absolute;
	top:-80px;
	right:15px;}
	
.ord_but input{	
	
	color: #FFF;
	background: url('/bitrix/templates/wit_ru/components/bitrix/sale.basket.basket/cart/images/order_back.png') repeat-x;
	font-size: 24px;
	padding: 14px 30px 13px 30px;
	box-shadow: -1px 2px 10px #454545;
	border: none;
	text-align: center;
	cursor: pointer;
	margin-left: 45px;
	font-family: Grot_c
	}

	
.back_order{font-size: 14px;
font-weight: normal;
float: right;
display: block;
text-decoration: none;
color: #FFF;
padding: 5px 15px;
margin-top: 15px;
margin-right:15px;
background: url(/bitrix/templates/wit_ru/components/bitrix/news.detail/events/images/all.png) repeat-x;
box-shadow: -2px 3px 10px #454545;}

.floka_r{color:#2b2b2b;
	font-size:16px;
	margin-bottom:3px;
	}
	
#order_form_content p{margin:0 0 5px 0 !important;
	}
	
.zz_kk{font-size:22px;
	color:#ea115e;
	margin-bottom:10px;}
	
.beznal{
	color:#2b2b2b;
	font-size:16px;
	text-transform:uppercase;
	margin-bottom:100px;
	}