.top-menu-first a{
	height:20px;
	padding-top:6px;
	padding-bottom:4px;
	padding-left:20px;
	padding-right:20px;
	font-family:Arial;
	font-size:14px;
	text-transform:uppercase;
	display:block;
	float:left;
	color:#000000;
	text-decoration:none;
	line-height:1.2em;		
}
.topfirst-selected{
	color:#ffffff !important;
	background-color:#2eb3ba;
	/*text-decoration:underline !important;*/
}
.topfirst-selected span{
	border-bottom:2px solid #97d9dd;
	color:#ffffff !important;	
}
.top-menu-first{
	height:30px;
}
.topmenu-separatop{
	width:2px;
	height:15px;
	overflow:hidden;
	float:left;
	margin-top:5px;
}