.catalog-price {
	 color:red;
}
.displnone{
	display:none;
}
.product-detail-cont{
	padding-left:20px;
	padding-top:11px;	
}
.visual-galery{
	width:252px;
	float:left;
}
.visual{
	width:338px;
	height:374px;
	float:left;
	border:1px solid #aeaeae;	
	position:relative;
}
.visual-galery ul{
	margin:0px;
	padding:0px;
}
.visual-galery ul li{
	list-style:none;
	float:left;
	display:inline-block;
	width:116px;
	height:118px;
	border:1px solid #aeaeae;
	margin-right:8px;
	margin-bottom:8px;	
}
.visual-galery ul li a{
	padding:0px;
}
.visual-galery ul li a img{
	padding:0px;
}
.visual .prev{
    background: url("/bitrix/templates/main_page/images/left_ar_sp.png") no-repeat scroll 0 0 transparent;
    display: block;
    font-size: 0;
    height: 36px;
    left: 5px;
    position: absolute;
    top: 45%;
    width: 36px;
    z-index: 100;	
}
.visual .next{
	background: url("/bitrix/templates/main_page/images/right_ar_sp.png") no-repeat scroll 0 0 transparent;
    display: block;
    font-size: 0;
    height: 36px;
    right: 5px;
    position: absolute;
    top: 45%;
    width: 36px;
    z-index: 100;	
}

.visual .prev:hover{
	background: url(/bitrix/templates/main_page/images/left_ar_sp.png) no-repeat 0 -36px !important;
}
.visual .next:hover{
	background: url("/bitrix/templates/main_page/images/right_ar_sp.png") no-repeat scroll 0 -36px transparent !important;
}

.lupa{
	display:block;
	position:absolute;
	bottom:12px;
	right:12px;
	color: #333333;
	font-size:10px;
	font-family:Arial;
	line-height:15px;
	padding-right:22px;
}
.lupa img{
	margin-top:5px;
	position:absolute;	
	right:0px;	
	top:-4px;
}
.icons_detail{
	position:absolute;
	top:4px;
	right:12px;
	width:86px;
	height:76px;
}
.lupa span{
	text-decoration:underline;
}
.lupa:hover span{
	text-decoration:none;
}
.delail_brend_logo{
	text-align:center;
}
.main_detail{
	float:left;
	width:225px;
	padding-left:5px;
}

.main_detail_sep{
	font-size:1px;
	margin-top: 7px;
	margin-bottom: 7px;	
	height:1px;
	background: url('/bitrix/templates/main_page/images/main_detail_sep.png') no-repeat;
}	
.delail_articul{
	text-align:center;	
}
.delail_articul_title{
	color:#9d9d9d;
	font-size:11px;
	font-family:Arial;
}
.delail_articul_value{
	color:#333333;
	font-size:11px;
	font-family:Arial;	
}
.detail_sumka{
	margin-left: 40px;
	background: url('/bitrix/templates/main_page/images/sumka.png') no-repeat;	
	position:relative;
	width:123;
	height:133px;
	color:#9d9d9d;
	font-size:10px;
	font-family:Arial;	
	padding-bottom:10px;
}
.delail_sumka_visotasruchkami{
	position:absolute;
	z-index:3;
	top:11px;
	left:123px;	
}
.delail_sumka_visota{
	position:absolute;
	z-index:3;
	top:57px;
	left:123px;		
}
.delail_sumka_glubina{
	position:absolute;
	z-index:3;
	top:130px;
	left:7px;		
}
.delail_sumka_shirina{
	position:absolute;
	z-index:3;
	top:130px;
	left:60px;		
}
.delail_brend_logo{
	height:90px;
}
.bag-table,.bag-table td{
	padding:0px;
	border:none;
}
.conteiner-price{
	width:195px;
	margin:0 auto; 
}
.price_detail{
	color: #FF7700;
    font-size: 26px;
    font-weight: bold;	
}
.price_detail span{
	color: #FF7700;
    font-size: 14px;
    font-weight: bold;	
}
.price_detail_old{
	color: #333333 !important;
    font-size: 11px !important;
    font-weight: normal !important;		
}
.detail_buy{
    height: 24px;	
}
.detail_buy a{
	background: url('/bitrix/templates/main_page/images/detail_buy_bg.png') repeat-x;
    border-color: #52CFDF #32A6B4 #20828F;
    border-style: solid;
    border-width: 1px;
    color: white;
    cursor: pointer;
    font-size: 12px;
    height: 22px;
    line-height: 22px;	
    margin-top: 3px;
    padding: 4px 8px;
	padding-bottom:3px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 61px;
}
.detail_brend_link{
	color: #333333;
    font-size: 10px;	
}	
.detail_brend_link:hover{
	text-decoration:none;
}
.visual-holder{
	margin-bottom:20px;
}
.detail_description{
	width:462px;
	float:left;
	margin-right:26px;
}
.detail_vkladki{
	width:334px;
	float:left;
	margin-top:23px;
}

.detail_description_title_left{
	line-height:19px;
	width:166px;
	height:16px;
	float:left;	
	background: url('/bitrix/templates/main_page/images/detail_left_decor.png') no-repeat;
}
.detail_description_title_right{
	line-height:19px;
	width:163px;
	height:16px;
	float:left;	
	background: url('/bitrix/templates/main_page/images/detail_right_decor.png') no-repeat;	
}
.detail_description_title_center{
	line-height:19px;
	width:113x;
	padding-left:10px;
	padding-right:10px;
	float:left;	
	color:#5f3913;
	font-size:19px;
	font-family:MyriadPro;
}
.detail_description_text{
	padding-top:10px;
	padding-bottom:10px;
	color:#333333;
	font-size:11px;		
}
.v_korzine_detail{
	background:none !important;
	background-color:#ffffff !important;
	color: #1F818D !important;	
}


.vkladki li, .vkl li{
	list-style:none;
}

.vkladki, .vkl {
    margin: 0;
    padding: 0;
    position: relative;
    top: 1px;
    z-index: 1000;
}
.vkladka_hover, .vkl_hover   {
    background-color: #2eb3ba;
}
.vkladka_hover a,.vkl_hover a{
	color:#ffffff !important;
	font-size:11px;	
}
.vkladka_text_hover,.vkl_text_hover  {
    display: block !important;
}
.vkladka_text { 
    background: none repeat scroll 0 0 transparent !important;
    border: 1px solid #2eb3ba;
	
    display: none;

    margin-top: 0 !important;
    padding: 8px 10px;
	color:#333333;
	font-size:11px;		
}
.detail_bot_cont{
	position:relative;
}
.vkl_text{
    border-top: 1px solid #000000;
    background: none repeat scroll 0 0 transparent !important;	
    display: none;
    margin-bottom: 20px;
    margin-top: 0 !important;
    padding: 8px 10px;
	color:#333333;
	font-size:11px;			
}
.vkladka, .vklad {
    float: left;
    margin-bottom: 0 !important;
    padding: 5px 10px !important;
    text-indent: 0 !important;
	-moz-border-radius-topleft: 2px; /* Firefox */
	-moz-border-radius-topright: 2px; /* Firefox */	
	-webkit-border-top-left-radius: 2px; /* Safari, Chrome */
	-webkit-border-top-right-radius: 2px; /* KHTML */	
	border-top-right-radius: 2px; /* CSS3 */	
	border-top-left-radius: 2px; /* CSS3 */		
}
.vkladka a{
	color:#333333;
	font-size:11px;	
	text-decoration:none;
}
.vkl a{
	color:#333333;
	font-size:12px;	
	text-decoration:none;
}
.detail_bot_cont{
	padding-bottom:20px;
	padding-left:20px;
}

.line_debot{
	font-size:1px;
	height:1px;
	background-color:#000000;
}
.product-detail-cont{
	padding-bottom:25px;
}
.vklad a{
	text-decoration:underline;
}
.vklad a:hover,.vkl_hover a{
	text-decoration:none;
}
.detail_aksessuar{
	height:109px;
	padding-left:70px;
	padding-top:34px;
}
.detail_aksessuar_propitem{
	line-height:20px;
}
.detail_aksessuar_propitem_title{
	font-size:14px;
	color:#333333;
	float:left;	
}
.detail_aksessuar_propitem_val{
	font-size:17px;
	color:#333333;
	font-size:Myriad Pro;
	float:left;
}