#content_breadcrumb  {
	overflow:hidden;
	color:#000000;
	font-size:10px;
	font-family:Arial;	
}
#content_breadcrumb hr {
    background-color: #000000;
    border: medium none;
    font-size: 1px;
    height: 1px;
    margin: 10px 0 0;
    overflow: hidden;
}

#content_breadcrumb  img {
	vertical-align:bottom;
}
#content_breadcrumb a:hover{
	text-decoration:none;
}
#content_breadcrumb a{
	color:#000000;
	font-size:10px;
	font-family:Arial;
}
.breadcrumb{
	margin-left:20px;
	margin-top:10px;
}