.catalog-line {
    margin-top: 17px;
    width: 840px;
}
.catalog-line-item {
    float: left;
    width: 280px;
}
.catalog-line-item-goods {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 18px;
    width: 260px;	
}
.line-goods-table{
	padding:0px;
}
.catalog-foto {
	text-decoration:none;
}
.catalog-line-all-text-under-goods{
    text-align: center;	
	padding-left:10px;
	padding-right:10px;	
	width:260px;
	padding-top: 5px;
}

.catalog-line-name-goods {
    font-family: MyriadPro-Cond;
    font-size: 28px;
	font-stule:Condensed;
	text-decoration:none;	
	color:#000000;
}

.catalog-line-about-goods {
    color: #373737;
    font-size: 11px;

    text-align: center;
}

.link-watch-good {
    margin-top: 7px;
    text-align: center;
}


.link-watch {
    color: #37B1BF;
    cursor: pointer;
    font-size: 11px;
    text-decoration: underline;
}
.link-arrow {
    margin-left: 4px;
}

.catalog-gsection-separator{
	width:280px;
	height:11px;
	background: url('/bitrix/templates/main_page/images/g_section_separator.png') no-repeat;
}
.catalog-gsection-img{
	width:260px;	
	padding-left:10px;
	padding-right:10px;	
}