.catalog-right-block-menu-line{
	margin-top:15px;
	margin-left:19px;
}
.filter-item-name-link {
    color: #333333;
    cursor: pointer;
    font-size: 9px;
    text-decoration: underline;
	position:absolute;
	z-index:15;	
	display:block;
	width:9px;
	height:13px;
}
.cat-block-item-filter {
    float: left;
	position:relative;
	border:1px solid #ffffff;
}
.cat-sort-filtername {
	float:left;
    color: #000000;
    font-size: 11px;
    line-height: 12px;
    text-transform: uppercase;
	line-height:25px;
}	
.open-filter-sort{
	float:right;
}

.filtersort a{
	display:block;
}













.cat-block-sort-filter {
    float: right;
	position:relative;
	border:1px solid #ffffff;
}
.cat-sort-filter {
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    color: #000000;
    display: block;
    font-size: 11px;
    line-height: 12px;
    padding: 5px 10px;
    text-decoration: none;
	text-transform:uppercase;	
	padding-right:5px !important;
}
.cat-item-filter {
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    color: #000000;
    display: block;
    font-size: 11px;
    line-height: 12px;
    padding: 5px 10px;
    text-decoration: none;
	text-transform:uppercase;	
	padding-right:5px !important;
}
.cat-item-filter span.cat-item-filtersp {
    background: url("/bitrix/templates/main_page/images/top_filter_arrow.png") no-repeat scroll center center transparent;
    display: inline-block;
    padding-left: 5px;
    width: 9px;
}
.cat-block-item-filter:hover .open-filter-item{
	display:block !important;	
	background-color: #ffffff !important;
    border: 1px solid #ffb321;
}
.cat-block-item-filter:hover .cat-item-filter{
	background-color: #ffb321 !important;
    border: 1px solid #ffb321;
	color:#ffffff;
}
.cat-block-item-filter:hover .cat-item-filter span.cat-item-filtersp{
	padding-left:5px;
	background:url('/bitrix/templates/main_page/images/top_filter_arrow_select.png') no-repeat center center;
}

.open-filter-item:hover{
	display:block !important;

}
.filter-item-name-reset{
    line-height: 14px;
    padding: 5px 10px;	
	font-size:10px;
	color:#333333;
    text-transform: lowercase;	
	cursor:pointer;	
	text-decoration:underline;	
	display:block;
	float:left;
	background-color: #ffffff !important;
}
.filter-item-name-reset:hover{
	text-decoration:none;		
}
.open-filter-item{
    background-color: #FFFFFF;
    border-bottom: 1px solid #ffb321;
    border-left: 1px solid #ffb321;
    border-right: 1px solid #ffb321;
    display: none;
    left: 0;
    padding: 6px 9px;
    position: absolute;
    top: 22px;
    width: 180px;
    z-index: 27;

}
.open-filter-item .filter-name {
	font-size:10px;
	font-style:Italic;
	color:#333333;
    text-transform: lowercase;	
	cursor:pointer;	
}



.filter-cont-ch{
	padding-left:5px;
	padding-right:5px;
	margin-bottom:5px;
}

.cat-sort-filtername{
	
}