.rega{color:#ea115e;
	font-size:22px;
	margin-bottom:25px;}
.name_imp_d{color:#2b2b2b;
	font-size:16px;
	margin-bottom:3px;}
.part_inp{width:232px;
	padding:6px 5px;
	border:1px solid #c3c0c0;
	margin-bottom:15px;
	}