body{margin:0;
	padding:0;
	font-family:Georgia;
	color:#848484;
	font-size:12px;}
h1{color:#2d869e;
	font-size:32px;
	margin:90px 0 25px 0;
	font-weight:normal;
	text-align:center;}
#wrapper{width:920px;
	margin:0 auto;
	padding:0 40px;}
#header{height:130px;
	position:relative;}
#lang{position:absolute;
	width:111px;
	background:url('images/lang.jpg') no-repeat;
	padding-top:10px;
	top:0;
	right:17px;}
#lang a{color:#4d4d4d;
	font-size:12px;
	padding:0 5px;
	font-family:Arial;
	}
#lang div{color:#4d4d4d;
	font-size:12px;
	font-weight:bold;
	}
	
.clear, .clear:after
{
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
	line-height: 0;
 font-size: 1px;
}

.lang_item{float:left;
	display:block;
		width:37px;
		text-align:center;}
#logo{width:160px;
	height:160px;
	position:absolute;
	left:380px;
	top:50px;
	z-index:1000;

	background:url('images/logo.png') no-repeat;}
#content{margin-bottom:30px;
	border:1px dashed #acacac;
	min-height:110px;
	position:relative;
	z-index:400;}
#footer{}

.footer_left{float:left;
	width:250px;
	padding-right:32px;
	margin-left:10px;
	padding-bottom:15px;}
.footer_center{float:left;
	width:335px;
	
	padding-left:30px;
	border-left:1px solid #e1e1e1;
	padding-bottom:15px;}
.footer_right{width:180px;
	border-left:1px solid #e1e1e1;
	float:right;
	padding:30px 0 15px 40px;
	}
.news_z{color:#5b5b5b;
	font-size:16px;
	margin-bottom:25px;}

.lang_footer{float:right;
	width:65px;
	}
.lang_footer a{display:block;
	font-size:12px;
	color:#696969;
	margin-bottom:8px;}
.lang_footer a:hover{color:#c2207d;}
.lang_footer div{font-weight:bold;
	font-size:12px;
	color:#696969;
	margin-bottom:10px;}
.menu_footer{width:70px;
	float:left;}
.footer_two{margin-bottom:25px;
	}
.footer_three{text-align:center;
	font-size:11px;
	color:#b8b8b8;
	padding-bottom:25px;}
#workarea{padding:0 20px 20px 20px;}

#bl_slider{position:relative;}

.text_abs{position:absolute;
	z-index:1000;
	top:90px;
	left:110px;}
.catalog_element{
	width:904px;
	height:518px;
	position:relative;
	padding:37px;
	}
#ov_div .close{
	display:none;
	width:18px;
	left:456px;
	cursor:pointer;
	top:15px;
	z-index:1000;
	position:absolute;
	text-decoration:none;
	height:18px;
	background:url('/bitrix/templates/fb_ru/images/close.jpg') no-repeat;
	}
	
.visual-galery{width:226px;
	float:left;
	}
.visual{float:left;
	width:402px;
	position:relative;
	padding:0 32px;}
.visual-galery ul li{list-style: none;
float: left;
display: inline-block;
width: 107px;
height: 107px;
border: 1px solid #000;

margin-bottom: 8px;
	}
.visual-galery ul {
margin: 0px 0px s0px 0px;
padding: 0px;
}
.bag-table, .bag-table td {
padding: 0px;
border: none;
}
.visual-galery ul li a {
padding: 0px;
}

.visual-galery ul li a img {
padding: 0px;
}
.bag-table, .bag-table td {
padding: 0px;
border: none;
}

.displnone {
display: none;
}
.visual .prev {
background: url(images/prev.png) no-repeat;
display: block;
font-size: 0;
height: 65px;
left: 30px;
position: absolute;
top: 45%;
width: 65px;
z-index: 100;
}
.visual .next {
background: url(images/next.png) no-repeat;
display: block;
font-size: 0;
height: 65px;
right: 30px;
position: absolute;
top: 45%;
width: 65px;
z-index: 100;
}
.opis_zag{font-size:18px;
	color:#4d4d4d;
	margin-bottom:10px;
	margin-top:30px;}
.name_det{font-size:18px;
	color:#767676;
	margin-bottom:15px;
	}

.opis_val{font-size:14px;
	color:#4d4d4d;
	line-height:20px;}
.detail_info{float:left;
	width:210px;}
.price_offers{margin-bottom:40px;
	color:#2d869e;
	font-size:32px;}
.tab_prop{margin-bottom:70px;}
.t_one{color:#a4a4a4;
	font-size:15px;
	padding-bottom:5px;
	text-align:right;}
.t_two{color:#4d4d4d;
	font-size:15px;
	padding-bottom:5px;
	padding-left:5px;
	text-align:left;}
.model_zag{color:#939393;
	font-size:15px;
	margin-bottom:5px;}
.other_color{float:left;
	width:40px;
	cursor:pointer;
	margin-bottom:7px;}
.other_color_no{float:left;
	width:40px;
	margin-bottom:7px;}
.d_color{margin-bottom:45px;}
.pre_back{width: 980px;
	display:none;
	height: 518px;
	position:absolute;
	top:0;
	left:0;
	z-index:1000;
	background:url('/bitrix/templates/fb_ru/components/bitrix/menu/top/images/1px_back_50.png');
}
.pre_back .preloader{background:url('images/130.gif');
	width:128px;
	height:128px;
	position:absolute;
	left:428px;
	top:195px;
	}
	
.count_basket{float:left;
	width:91px;
	font-size:15px;
	color:#929292;
		padding-top:1px;
	}
.count_val{float:left;
	width:45px;

	
	}
.count_val input{color:#929292;
	font-size:14px;
	width:39px;
	border:1px dashed #b1b1b1;
	padding:1px 0;
	font-style:italic;
	text-align:center;}
.add_basket{margin-bottom:35px;}
.add_basket_ajax{
	color: #FFF;
	background: #c2207d;
	font-size: 18px;
	padding: 4px 0;
	text-align:center;
	border: none;
	cursor: pointer;
	width:145px;
	}
.art_message{color:#f26c4f;
	font-style:italic;
	font-family:Arial;}

.search-artikul{height:19px;
	margin-bottom:20px;
	position:relative;}
.search-art-abs{position:absolute;
	top:0;
	right:0;}
.search-art-left{float:left;
	margin-right:3px;}
.search-art-right{float:right;}
.search-art-right input{border:1px solid #5ea2b5;
	cursor:pointer;
	background:#FFF;
	font-size:12px;
	color:#5b5b5b;
	font-family:Arial;
	padding:2px 5px;
	
	}
.search-art-left input{border:1px dashed #c4c4c4;
	color:#a5a5a5;
	font-size:11px;
	padding:3px 0 2px 0;
	font-style:italic;
	width:140px;}
.inback_detail{color: #a8a8a8 !important;
	font-size: 18px !important;
	width: 145px !important;

	padding: 3px 0 !important;
	text-align: center !important;
	background:none  !important;
	border: 1px dashed #c4c4c4 !important;}
.partnter_left{float:left;	
	width:409px;
	margin-bottom:70px;
	color:#494949;
	font-size:15px;
	}
.partnter_right{float:right;	
	width:409px;
	margin:0 0 70px 60px;
	color:#494949;
	font-size:15px;
	}
.reg_left{float:left;
	width:530px;}
.reg_right{width:308px;
	float:right;
	font-size:12px;
	color:#959595;
	font-style:italic;
	padding-bottom:50px;}
	
.regd{
		color:#333333;
		font-size:12px;
		position:absolute;
		display:block;
		text-decoration:none;
		border-bottom:1px dashed #333333;
		top:33px;
		left:39px;
	}
.regg{position:relative;}

.email_in{color:#d2d2d2;
	font-size:13px;
	font-style:italic;
	padding:5px;
	width:190px;
	border:1px dashed #000;}
.sub_in{
	font-size:12px;
	color:#5b5b5b;
	background:none;
	border:2px solid #f26c4f;
	padding:5px 10px;
	cursor:pointer;
	font-family:Georgia;
	}

.error {
color: red;
margin-bottom: 5px;
}

/*--------------FILTER----------------*/

.filter{position:absolute;
	top:0;
	left:0;
	}
.name_filter{float:left;
	font-size:11px;
	color:#2d869e;
	}
.fitler_price{float:left;
	margin-left:10px;
	position:relative;}
.fitler_color{float:left;
	margin-left:15px;
	position:relative;}
.filter_clear{
	float:left;
	margin-left:15px;
	position:relative;
}
.filter_clear a{
	color:#696969;
	font-size:11px;
	cursor:pointer;
	border-bottom:1px dashed #696969;
	display:block;
	position:relative;
	z-index:100;
	text-decoration:none;
}
.fitler_price span, 
.fitler_color span{color:#696969;
	font-size:11px;
	cursor:pointer;
	border-bottom:1px dashed #696969;
	display:block;
	position:relative;
	z-index:100;}

.filter_block{position:absolute;
	z-index:90;
	padding:35px 13px;
	border-left:1px solid #e8e8e8;
	border-right:1px solid #e8e8e8;
	border-bottom:1px solid #e8e8e8;
	top:-10px;
	left:-10px;
	background:url('/bitrix/templates/fb_ru/images/back_filter.png');
	width:200px;
	display:none;
	box-shadow: 0 6px 4px -4px #999;}
.color_select{float:left;
	width:80px;
	margin-right:5px;
	font-size:11px;
	color:#696969;
	padding-left:15px;
	margin-bottom:8px;
	background:url('/bitrix/templates/fb_ru/images/select_filter2.png') 0 3px no-repeat;
	cursor:pointer;
	}
.price_select{float:left;
	width:120px;
	margin-right:5px;
	font-size:11px;
	color:#696969;
	padding-left:15px;
	margin-bottom:8px;
	background:url('/bitrix/templates/fb_ru/images/select_filter2.png') 0 3px no-repeat;
	cursor:pointer;}
.row{background-position:0 -88px;}
.color_sp{border:none !important;
	color:#2d869e !important;
	font-weight:bold !important;}
.fitler_color:hover .filter_block{display:block;}
.fitler_color:hover  span{border:none;
	color:#2d869e;
	font-weight:bold;}
	
.fitler_price:hover .filter_block{display:block;}
.fitler_price:hover  span{border:none;
	color:#2d869e;
	font-weight:bold;}
.utko{border:none !important;
	color:#2d869e !important;
	font-weight:bold;}
	
#cat_filter{position:relative;
	}
.posit_cat_pre{width:100%;
	height:100%;
	position:absolute;
	display:none;
		background:url('/bitrix/templates/fb_ru/images/back_filter.png');
	z-index:1000;}
#bbb_cat{position:relative;}

.email_in{color:#d2d2d2;
	font-size:13px;
	font-style:italic;
	padding:5px;
	width:190px;
	border:1px dashed #000;}
.sub_in{
	font-size:12px;
	color:#5b5b5b;
	background:none;
	border:2px solid #f26c4f;
	padding:5px 10px;
	cursor:pointer;
	font-family:Georgia;
	}
	
.iconNew{
	background: rgba(0, 0, 0, 0) url("/bitrix/templates/fb_ru/images/FB_NEW_EN.png") no-repeat scroll 0 0;
    height: 50px;
    left: 78px;
    position: absolute;
    top: 20px;
    width: 100px;
}