div.news-detail img.detail_picture
{
	margin:0 8px 6px 1px;
	border: 1px solid #363636;
}
.lupa img{
	cursor:pointer;
}
h1.title{margin-left:0px !important;}
.bag-table{
	padding:0px;
}
.vkladkiclass{
	margin-top: 59px;
}
#bimg {
	cursor:pointer;	
}
.news-date-time {
	color:#9d9d9d;
	font-size:11px;
	font-family:Arial;
	line-height:1em;
	margin-bottom:10px;
}
.news-detail-img{
	margin-bottom:15px;
}
.back_list{
	display:block;
	margin-top:20px;	
}
.news-detail-socseti{
	margin-top:20px;	
}

.news-item-text{
	color:#333333;
	font-size:12px !important;
	font-family:Tahoma !important;
	line-height:1.3em !important;

}
.news-item-text-cont{
	margin-top:15px;
}

.line-all-news-text {
    color: #2EB3BA;
    font-size: 11px;
    text-decoration: underline;
}
.line-all-news-text:hover {
    text-decoration: none;
}
.news-and-article-line-all-news{
	padding-top:2px;
}
.title{
	margin-bottom:10px !important;
}

.news-detail .filter-item-name-dotted{
	width: 205px;
    border-bottom: 1px dotted #9D9D9D;
    font-size: 1px;
    height: 3px;
    width: 205px;
	margin-top:20px;
	margin-bottom:20px;	
}
.detail_slider_title{
	font-size:14px;
	font-family:Arial;
	color:#333333;
	padding-bottom:3px;
}

.detail_slider .bx-prev, .detail_slider .bx-prev:hover{
	left:40%
	
}
.detail_slider .bx-next, .detail_slider .bx-next:hover{
	right:40%
}
.detail_slider .bx-wrapper .bx-controls-direction a{
	top:-38px;	
	width:24px;
	height:24px;	
}

.detail_slider {
	padding-top:50px;
	position:relative;
}

.detail_slider .bx-wrapper .bx-prev {
    background: url("/bitrix/templates/main_page/images/detail_left_ar.png") no-repeat scroll 0 0 transparent;
}
.detail_slider .bx-wrapper .bx-next {
    background: url("/bitrix/templates/main_page/images/detail_right_ar.png") no-repeat scroll 0 0 transparent;
}
.detail_slider .bx-wrapper .bx-prev:hover {
    background: url("/bitrix/templates/main_page/images/detail_left_ar.png") no-repeat scroll 0 -24px transparent !important;
}
.detail_slider .bx-wrapper .bx-next:hover {
    background: url("/bitrix/templates/main_page/images/detail_right_ar.png") no-repeat scroll 0 -24px transparent !important;
}
#nav_number{
	text-align:center;
	color: #333333;
	font-size:14px;
	font-family:Myriad Pro;
	font-weight:bold;
}
.nav_number_cont{
	text-align:center;
	position: absolute;
	top:15px;
	left:45%;
	width:60px;
	color: #333333;
	font-size:14px;
	font-family:Myriad Pro;
	font-weight:bold;	
}
.bx-pager{
	display:none;
}
.slider-wrapper{
	border:2px solid #333333;
	-moz-border-radius: 4px; /* Firefox */
	-webkit-border-radius: 4x; /* Safari, Chrome */
	-khtml-border-radius: 4x; /* KHTML */
	border-radius: 4px; /* CSS3 */	
}