table.sale_order_full
{
	width:100%;
	background-color:#F9FAFB;
	border-collapse:collapse;
}

/*Table head*/
table.sale_order_full th
{
	background-image:url(images/table_head.gif);
	background-repeat:repeat-x;
	text-align: left;
	color:#25639A;
}

/* Table cells and heads*/
table.sale_order_full th, table.sale_order_full td
{
	border:1px solid #ADC3D5;
	padding: 3px 5px;
	vertical-align:top;
}

table.sale_order_full_table
{
	width:100%;
	border-collapse:collapse;
	font-size:14px;
}
.sale_order_full_table .group-name {
	text-transform:uppercase;
	border-bottom:1px solid #7f4e24;
	padding:10px 0 0;
}
.sale_order_full_table_no_border {width:100%;}
.sale_order_full_table .text, .sale_order_full_table textarea {
	padding:5px 10px; background:#FFFFFF;
}

/* Table cells and heads*/
table.sale_order_full_table td
{
	padding: 3px 5px;
	vertical-align:top;
}

.sof-req{font-size:18px; font-weight:bold;}
.sof-ok{color:green; font-weight:bold;}