div.news-list img.preview_picture
{
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}
.news-item-name a{
text-decoration:none;
}
.news-item-text{
	padding-top:12px;
	padding-bottom:20px;	
}
.news-item{
	margin-bottom:20px;

}
.news-item hr{
	margin:0px;
	color:#7F4E24 !important;
	border:none;
}