#poisk{
	width: 174px;
	height: 23px;
	color: #9f9f9f;
	/*background: url('/bitrix/templates/main_page/components/bitrix/search.form/search/images/poisk_bg.jpg') no-repeat;*/
	border:1px solid #b1b1b1;
}
#inp input{
	display:block;
	width: 140px !important;
	/*height: 23px;*/
	line-height:23px;
	padding:0px;	
	padding-left:5px;	
	padding-right:5px;		
	border:0px; 
	height:23px;
	color: #9f9f9f;
	font-size: 11px;
	font-family:Arial;
	font-style:Italic;
}
#inp{
	width: 150px;
	height: 23px;
	overflow: hidden;
	background:none;
	float:left;
}
#form_poisk{
	margin: 0;
}
#strelka {
    float: left;
    height: 23px;
    width: 24px;
}