.page{text-align:center;}
.page div{font-size:15px;
	width:28px;
	text-align:center;
	font-family:Arial;
	color:#FFF;
	padding:6px 0;
	background:url('images/page_act.png') no-repeat;}
.page a{font-size:15px;
	width:28px;
	text-align:center;
	font-family:Arial;
	color:#b8b8b8;
	text-decoration:none;
	display:block;
	padding:6px 0;
	}
.page table td{padding:0 3px;}