.detail_dopmateriali .news-list-dopmateriali a{
	color:#333333;
}
.detail_dopmateriali .news-list-dopmateriali a:hover{
	color:#2db3b9;
	text-decoration:none;
}
.news-list-dopmateriali p{
	margin-top:5px;
	margin-bottom:5px;	
}
.detail_dopmateriali .news-item a{
	font-family:Tahoma;
}