.system-nav-orange{
	color: #004d89 !important;
	font-size:12px;
    font-family:Tahoma;
	text-align:right;
	margin-bottom:20px;
}

.nav-title{
margin-bottom: 5px;
}
.pred_next{
line-height:2.18em;
font-size:11px;
color:#909090;
font-family:Tahoma;
text-decoration:none;
}


.nav-pages a {
    background-color: #ffffff;
    border:1px solid #BEB8B8;
    /*margin-right: 3px;*/
    text-align: center;
	line-height:13px;
	padding-left:4px;
	padding-right:4px;
	text-decoration:none;
	color:#333333;
	font-size:10px;
	font-family:Arial;
}
.mnogotochie{
	padding-right:3px;
	line-height:13px;	
	color:#333333;
	font-size:10px;
	font-family:Arial;	
}
.mnogotochie-left{
	padding-left:3px;
	line-height:13px;	
	color:#333333;
	font-size:10px;
	font-family:Arial;		
}
.nav-pages .nav-current-page {
    background-color: #37B1C0;
    border:1px solid #BEB8B8;

    text-align: center;
	line-height:13px;
	padding-left:4px;
	padding-right:4px;
	text-decoration:none;
	color:#333333;
	font-size:10px;
	font-family:Arial;
}
.bottom_nav .navigation-text{
	padding-top:2px;
}

.bottom_nav .block-navigation-text {
    float: left;
	width: 330px;

}
.bottom_nav .system-nav-orange{
    float: left;
	width: 300px;	
}
.block-navigation-text .navigation-text:first-child {
    padding-left: 0px;
}
.navigation-text {
    float: left;
    font-size: 10px;
    padding-left: 7px;
    padding-right: 7px;
}
.navigation-text-vertical-punktir {
    float: left;
}
#catalog-top-nav .block-navigation-text{
	display:none;
}
.navigation-text-select{
	width:45px;
	float:left;
}
select{
	outline:none;
}