.cat_filter_wrapper{
	width: 201px;
}

	.cat_filter_wrapper .cat_filter_wrapper_top{
		width: 201px;
		height: 7px;
		background: url('images/filter_top_bg.png') no-repeat;
	}
	.cat_filter_wrapper .cat_filter_wrapper_bottom{
		width: 201px;
		height: 7px;
		background: url('images/filter_bottom_bg.png') no-repeat;
	}	
	.cat_filter_wrapper .cat_filter_wrapper_center{
		width: 201px;
		background: url('images/filter_bg.png') repeat-y;
	}	
		.cat_filter_wrapper_center .cat_filter_wrapper_center_wrapper{
			padding: 5px 14px;
		}

	.cat-filter input.filter-ok {
	    border: 0px;
	    margin: 0;
	    padding: 0;
	    width: 16px;
	    height: 16px;
	    cursor: pointer;
	    background: url('images/filter_button.png') no-repeat !important;
	}		