@font-face {
    font-family: MyriadPro-Cond; 
    src: local("DINPro"), /* проверяем наличие шрифта в ОС пользователя */
    url('/bitrix/templates/main_page/fonts/MyriadPro-Cond.otf'); 
}
@font-face {
    font-family: MyriadPro; 
    src: local("DINPro"), /* проверяем наличие шрифта в ОС пользователя */
    url('/bitrix/templates/main_page/fonts/MyriadPro-Regular.otf'); 
}
@font-face {
    font-family: gothic; 
    src: local("Century Gothic"), /* проверяем наличие шрифта в ОС пользователя */
    url('/bitrix/templates/main_page/fonts/GOTHIC.TTF'); 
}


body{
	margin:0px;
	padding:0px;
	font-family:Arial;
	font-size:12px;
}
img{border:none;}
#conteiner-viaborsa{
	width: 999px;
	margin: 0 auto;
	font-family: Arial;
	color: #000000;

}
input{
	outline:none;
}

#conteiner-viaborsa-last{
	width: 842px;	
    margin: 0 auto; 
}
#wrapper{
	/*background: url("/bitrix/templates/main_page/images/ng.png") no-repeat scroll center 0 transparent;   */
}
.clear, .clear:after {
    background-color: #FFFFFF;
    clear: both;
    content: ".";
    display: block;
    font-size: 1px;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

#line-above-menu{
   height:92px;
   padding-top: 17px;
}


#block-above-menu-left{
   width: 436px;
   float: left;
}


.via-logotip{
  display: block;
  width: 173px;
  height: 92px;
  position: absolute;
}

	
.text-internet-shop{
   color: #817474;
   font-size: 12px;
   font-style: italic; 
   position: relative;
   margin-top: 77px;
   margin-left: 103px;
}

#block-above-menu-center{
   width: 203px;
   float: left; 
   margin-top: 67px;   
}

.punktir{
  display: block;
  width: 1px;
  height: 25px;
  float: left;
  padding-top:2px;
}

#number-phone{
	text-align:center;
	float: left;
	width: 201px;
}


#number-phone-one{
   float: left;
   margin-left:17px;
   margin-right:6px;
   color: #7A7A7A;
   font-size:16px;
   margin-top: 8px;
   line-height: 1em;
}

#number-phone-two{
   color: #5F3913;
   font-size: 22px;
   line-height: 26px;
}

#block-above-menu-right{
   float: left;
   width: 200px;
}

span.rubls1{
   color:#7F7F7F;
}

span.korzina{
   color:#ff7700;
   font-size:12px;
   text-decoration: underline;
   font-weight:bold;
   line-height:1.33em;
}


.korsina-quantity-goods-price{
    float: left;
    padding-left: 42px;
    padding-top: 23px;
    width: 114px;
	position:relative;
	z-index:5;
}
.korsina-text{
   font-size:11px;
   font-family: Arial;
   color:#000000;
   text-decoration:none;
   display:block;
   line-height:1.46em;
}
.korzina-picture{
   float: left;
   display: block;
   padding-left:17px;
   padding-top: 27px;
}
.search{
   margin-left: 20px;
   margin-top:10px;
}
.input-seach-korzina{
   color: #817474;
   font-style: italic;
}
.line-menu-and-skroll{
   width: 841px;
   height: 360px;
   background-color: #E3E0E6;
   margin-left: 81px;
   margin-top: 20px;
}


.top-menu{
	padding-top:20px;
}

.slider_img .photo table tr td {
    height: 486px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    width: 730px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.catalog-section .image .icons {
    height: 40px;
    margin: 0 !important;
    position: absolute;
    right: 25px;
    top: 5px;
    width: 40px;
}
.sale_bg {
    background: url("images/ico/sale_ico2.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    height: 35px;
    line-height: 40px;
    text-align: center;
    width: 46px;
}


.text-below-menu {
    color: #5F3913;
    font-size: 11px;
    margin-left: 49px;
    margin-top: 12px;
    text-align: center;
    width: 742px;
}
.spring-picture {
    display: block;
    margin-top: 23px;
}
.scroll-vertical-line-z{
    background-color: #FFFFFF;
    font-size: 1px;
    height: 100%;
    position: absolute;
    width: 1px;
    z-index: 100;
}
.leiba-scrll{
    position: absolute;
    width: 36px;
    height: 36px;	
    z-index: 100;	
	background: url('/bitrix/templates/main_page/images/leiba-scrll.png') no-repeat;
	color: #ffffff;
	font-size:12px;
	font-family:Arial;
	top:22px;
	right:25px;
	font-weight:bold;
}

.g_items ul li {
    background: none repeat scroll 0 0 transparent !important;
    list-style: none outside none;
    margin-bottom: 0 !important;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0 !important;
    text-indent: 0 !important;
}
.g-item-scroll{
    border-color: #C1C1C1;
    border-style: solid;
    border-width: 1px;
    margin-top: 24px;
    position: relative;
    width: 840px;
}
.g_items .scroll-item {
    padding-left: 15px;
    padding-right: 15px;	
    width: 250px;
	height:320px;
	position:relative;
	z-index:10;
}
.scroll-vertical-line{
	position:absolute;
	z-index:15;
	left:0px;
	width:1px;
	top:10px;
	height:309px;
	font-size:1px;	
}
.g-item-scroll #anons_prev{
    left: -18px;
    top: 45%;
    position: absolute;	
	display:block;
	font-size:0px;	
z-index:100;
width:36px;
height:36px;	
	background: url(/bitrix/templates/main_page/images/left_ar_sp.png) no-repeat 0 0;
}
.g-item-scroll #anons_next{
    left: 823px;
    top: 45%;
    position: absolute;	
	display:block;
	font-size:0px;
z-index:100;	
width:36px;
height:36px;
	background: url(/bitrix/templates/main_page/images/right_ar_sp.png) no-repeat 0 0;
}

.g-item-scroll #anons_prev:hover{
	background: url(/bitrix/templates/main_page/images/left_ar_sp.png) no-repeat 0 -36px !important;
}
.g-item-scroll #anons_next:hover{
	background: url("/bitrix/templates/main_page/images/right_ar_sp.png") no-repeat scroll 0 -36px transparent !important;
}
.g_items{
	/*padding-top:10px;*/
	padding-bottom:10px;	
	position:relative;
	z-index:10;
}

.scroll-name-good  a{
    font-size: 17px;
	text-decoration: underline;
}
.scroll-text-description {
    color: #535353;
    font-size: 11px;
    text-align: center;
	line-height:1.2em;
	height:1.2em;
	overflow:hidden;
}
.scroll-line-price {
    margin-top: 2px;
}
span.old-price {
    font-size: 11px;
    margin-right: 5px;
    text-decoration: line-through;
	color:#333333;
}
span.new-price {
    color: #ff7700;
    font-weight: bold;
    font-size: 16px;	
}
span.new-price-rubls {
    color: #ff7700;
    font-size: 11px;
}

.scroll-name-good{
	text-align:center;
    text-align: center;
	margin-bottom:3px;
}
.scroll-name-good .item_title{
    font-family: Arial;	
    font-size: 17px;
	color:#000000;	
	line-height:1.2em;
}
.buttom-korzina-scroll-item  .bt3 {
    background: none repeat scroll 0 0 #2B9FAE;
    border-color: #52CFDF #32A6B4 #20828F;
    border-style: solid;
    border-width: 1px;
    color: white;
    cursor: pointer;
    font-size: 8px;
    height: 13px;
    margin-top: 3px;
    text-align: center;
    width: 61px;
	padding: 1px 8px;
	text-transform:uppercase;
	text-decoration:none;		
}
/*
.img_bg{
	border:1px dashed red;
}
#catalog-all-goods{
	background-color:#000000;
}*/

.v_korzine{
    background-color: #ffffff !important;
    border-color: #52CFDF #32A6B4 #20828F !important;	
    border-style: solid;
    border-width: 1px;
    color: #1f818d !important;	
    cursor: pointer;
    font-size: 8px;
    height: 13px;
    margin-top: 3px;
    text-align: center;
    width: 61px;
	padding: 1px 8px;
	text-transform:uppercase;
	text-decoration:none;	
}
.icons-sale {
    bottom: -98px;
    left: 143px;
    position: absolute;
    z-index: 15;
}

.scroll-name-good a:hover{
	text-decoration:none;		
}
.buttom-korzina-scroll-item{
	margin-top:3px;
	position:relative;
	z-index:100;
}
.all-text-under-bag{
	text-align: center;
}
.bx-viewport{
	overflow:hidden !important;
	height:304px !important;
}
#slider{
	overflow:hidden !important;
	height:304px !important;
	
}
.scroll-item .item_title:hover{
	text-decoration:none !important;
	border:none;
}
.link{
	text-decoration:none;	
}
.block_title{
	margin-left:10px;
	margin-right:10px;
}
#block-news-and-article {
    height: 309px;
    margin-top: 10px;
    width: 842px;
}
.block_title_bg{
    background: url("/bitrix/templates/main_page/images/block_title_bg.png") no-repeat scroll 0 0 transparent;
    font-size: 12px;
    line-height: 20px;
    padding-left: 5px;
    padding-right: 2px;
}

.block-news-and-article-item {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
    width: 240px;
}
.scroll-vertical-line_block{
	float:left;
	width:1px;
	height:309px;
	font-size:1px;	
}

.block-news-and-article-name {
    color: #5F3913;
    font-family: MyriadPro;
    font-size: 20px;
    text-align: center;
	padding-bottom:23px;
}
.block-news-description {
    width: 220px;
}
.socset_vk{
	width:37px;
	height:37px;
	display:block;
	text-decoration:none;
    background: url("/bitrix/templates/main_page/images/ico/vk.png") no-repeat scroll 0 0 transparent;	
}
.socset_vk:hover,.vkladka_hover_vk{
    background: url("/bitrix/templates/main_page/images/ico/vk_sel.png") no-repeat scroll 0 0 transparent !important;	
}


.vkladka_text_hover {
    display: block !important;
}
.vkladka_text{
	display:none;
}
.socset_fb{
	width:37px;
	height:37px;
	display:block;
	text-decoration:none;
    background: url("/bitrix/templates/main_page/images/ico/fb.png") no-repeat scroll 0 0 transparent;		
}
.socset_fb:hover,.vkladka_hover_fb{
    background: url("/bitrix/templates/main_page/images/ico/fb_sel.png") no-repeat scroll 0 0 transparent;		
}
.socset_tube{
	width:37px;
	height:37px;
	display:block;
	text-decoration:none;
    background: url("/bitrix/templates/main_page/images/ico/you_tube.png") no-repeat scroll 0 0 transparent;		
}
.socset_tube:hover{
    background: url("/bitrix/templates/main_page/images/ico/you_tube_sel.png") no-repeat scroll 0 0 transparent;		
}
.block-socseti-cont-top{
    color: #000000;
	font-family: MyriadPro;
    font-size: 12px;
	text-transform:uppercase;
	margin-bottom:10px;
}
#block-bottom-text {
    color: #4C4B4B;
    font-size: 11px;
    margin: 14px auto 25px;
    text-align: center;
    width: 730px;
}
.subscribe-form{
	margin-bottom:22px;
}
.footer{
	border-top:1px solid #c5c5c5;
	background-color:#e9e9e9;
	padding-top:22px;
	padding-bottom:40px;
}
.footer-top{
	border-bottom:1px dotted #c5c5c5;	
	padding-bottom:14px;
}
.footer-bot{
	padding-top:14px;
	
}
.footer-cont{
	width:841px;
	margin:0 auto;
}
.footer-bot-left{
	color:#858282;
	font-family:Arial;
	font-size:11px;
	line-height:1.27em;
	width:441px;
	float:left;
}
.footer-bot-right{
	color:#858282;
	font-family:Arial;
	font-size:11px;
	line-height:1.27em;
	width:378px;
	float:left;
	text-align:right;
	padding-right:22px;
}
.footer-bot-right a{
	color:#1ba4b3;
	font-size:11px;
}
.logo-footer{
	padding-left:22px;
	padding-right:12px;
}
.footer-menu{
	width:166px;
	float:left;
	padding-left:22px;
	padding-right:22px;	
}
.footer-menu-title{
	color:#1e9aa9;
	font-size:11px;
	font-family:Arial;	
	text-transform:uppercase;
	padding-bottom:8px;
}
.block-socseti-cont-bot{
	width: 225px;
	margin:0 auto;
}
.community_head img{
	width:40px !important;
	height:40px !important;
}
.community_head{
	color:#000000 !important;
}


.pts {
 color:#000000 !important;
}
#content_catolog_cont{
    width: 842px;		
    border-bottom:1px solid #BEB8B8;
	margin-bottom:56px;	
}
#content_filter{
    background-color: #F3F3F3;
    float: left;
    width: 193px;
	position:relative;
	z-index:10;

}
#content_cataloglist{
    float: left;
    width: 649px;	

	position:relative;
	z-index:3;	
}
.bottom_nav #catalog-top-nav{
	padding-top:18px;	
}
#content_main{
    width: 842px;		
	position:relative;
	z-index:5;
}
.bottom_nav{
	position:absolute;
	bottom:-36px;
	right:0px;
	
}
.bottom_nav .system-nav-orange{
	margin-bottom:0px;
}
.loadercont2  {
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 2000;
}
.loadercont  {
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    top: 30px;
    width: 100%;
    z-index: 2000;
}
.waitingcont2,.waitingcont {
    background-color: #FFFFFF;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
}
#idsmallbasket_loading, #idsmallbasket_waiting {
    width: 204px;
}
#cart_line{
	position:relative;
	z-index:5;
}
.top-footer-cont{
	width:842px;
	margin:0 auto;
}
.brend_pic{
	width: 162px;
	float: left;
	margin-right: 8px;
}
.brend_cont{
	padding-bottom:12px;
}
.brend_text{
	width: 460px;
	float: left;
	color: #333333;
	font-size: 11px;
	font-family: Arial;
	line-height: 1.36em;
}
.nodisplay{
	display:none;
}
.col-filter-price{
	float:left;
	width:90px;
}
.cusel_conteiner{
	padding-top:8px;
}
.block-article-leftcol{
	padding-left:18px;
	padding-right:18px;
	font-size:11px !important;
}
.block-article-leftcol a{
	font-size:11px !important;
}
.block-article-leftcol .news-list-block{
	height:auto !important; 
}
.block-article-leftcol .news-and-article-line-all-news{
	position:static !important;	
}
#vverh{
	position: absolute;
	bottom: 20px;
	text-align: center;
	width: 193px;
	z-index: 5;
	cursor: pointer;
	/*padding-top:60px;	*/
}

#content_filter_contrel{
	
}
#cont_vverh{
	/*height:100%;*/
	width:193px;
	position:relative;
	z-index:7;
	overflow:hidden;
}

#content_filter_contrel .block-article-leftcol{
	padding-bottom:80px;
}

.detail_buy a.toshop_detail{
	background: url("/bitrix/templates/main_page/images/toshop_detail.png") repeat-x scroll 0 0 transparent;
    border-color: #fa842d #E86F16 #DC6207;
    border-style: solid;
    border-width: 1px;
    color: white;
    cursor: pointer;
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    margin-top: 3px;
    padding: 4px 8px 3px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 61px;
}
.detail_buy{
	position:relative;
}
.detail_buy_toshop{
	background-color:#ff9421;
	color:#ffffff;
	font-size:11px;
	position:absolute;
	z-index:10;
	top:24px;
	width:191px;
	padding: 5px 9px;

	line-height:1.1em;
}
.detail_buy_toshop span{
	text-decoration:underline;
	color:#ffffff;
		background: none;
		border:none;
		
}

a.toshop{
	background: url("/bitrix/templates/main_page/images/toshop.png") repeat-x scroll 0 0 transparent;
    border-color: #fa842d #E86F16 #DC6207;
    border-style: solid;
    border-width: 1px;
    color: white;
    cursor: pointer;
    font-size: 8px;
    height: 13px;
    line-height: 13px;
    margin-top: 3px;
    padding: 1px 8px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 61px;
	position:relative;
}
a.toshop:hover .buy_toshop{
	display:block;
}
.buy_toshop{
	background-color:#ff9421;
	color:#ffffff;
	font-size:11px;
	position:absolute;
	z-index:10;
	top:14px;
	left:-1px;
	width:210px;
	padding: 5px 9px;
display:none;
	line-height:1.1em;
    text-transform: none;
	text-align:left;
}
.buy_toshop span{
	text-decoration:underline;
	color:#ffffff;
		background: none;
		border:none;		
}

body {
    color: #222222;
}
li.head, li.g, body, html, .std, .c h2, #mbEnd h2, h1 {
    font-family: arial,sans-serif;
    font-size: small;
}
body, #leftnav, #tbdi, #hidden_modes, #hmp {
    background: none repeat scroll 0 0 #FFFFFF;
}
body {
    color: #000000;
    margin: 0;
    overflow-y: scroll;
}
li.head, li.g, body, html, .std, .c h2, #mbEnd h2, h1 {
    font-family: arial,sans-serif;
    font-size: small;
}
.back_up {
	padding-left: 20px;
    padding-top: 10px;
    color: #000000;
    font-family: Arial;
    font-size: 10px;
	padding-bottom:10px;
	border-bottom:1px solid #000000;
}
.back_up a{
    color: #000000;	
    font-size: 10px;	
}

#left-menu-rubrikator{
	float:left;
	width:247px;
	margin-right:20px;
	background-color: #F3F3F3;
    position: relative;
    z-index: 10;	
	padding-top:14px;
	padding-bottom:80px;
}
#main-right{
	float:left;
	width:575px;
	padding-top:20px;
	padding-bottom:20px;
}
.line_bottom_fl{
	background-color: #BEB8B8;
	height:1px;
	width:100%;
}
#left-menu-rubrikator #vverh{
	width:249px;
}


#left-menu-rubrikator .filter-item-name-str {
    padding-left: 20px;
    color: #5F3913;
    font-family: Myriad Pro;
    font-size: 19px;
    line-height: 1em;
    text-transform: uppercase;	
}

#left-menu-rubrikator .filter-item-name-dotted {
    border-bottom: 1px dotted #9D9D9D;
    font-size: 1px;
    height: 3px;
    width: 205px;
}

#poisk{
	width: 174px;
	height: 23px;
	color: #9f9f9f;
	/*background: url('/bitrix/templates/main_page/components/bitrix/search.form/search/images/poisk_bg.jpg') no-repeat;*/
	border:1px solid #b1b1b1;
}
#inp input{
	display:block;
	width: 140px !important;
	/*height: 23px;*/
	line-height:23px;
	padding:0px;	
	padding-left:5px;	
	padding-right:5px;		
	border:0px; 
	height:23px;
	color: #9f9f9f;
	font-size: 11px;
	font-family:Arial;
	font-style:Italic;
}
#inp{
	width: 150px;
	height: 23px;
	overflow: hidden;
	background:none;
	float:left;
}
#form_poisk{
	margin: 0;
}
#strelka {
    float: left;
    height: 23px;
    width: 24px;
}
.result_search_catalog{
	margin-left:20px;
	margin-top:20px;
	margin-bottom:20px;	
}
.articles_search_page{
	padding-top:12px;
}
.bottom_nav .cuselText{
	width:20px;
}
.card-logo{
	position:relative;
}
.card-logo-item-cont{
	position:absolute;
	right:33px;
	width:95px;
	height:130px;	
}
.card-logo-item{
	display:block;
	margin-bottom:5px;
}

.subscribe_title{
	color:#000000;
	font-size:11px;
	font-family:Arial;
	text-transform:uppercase;
	padding-left: 10px;
	padding-right:10px;
}
.subscribe_input{
	width:265px;
	height:23px;
	color:#9f9f9f;
	font-size:11px;
	font-style:Italic;
	font-family:Arial;
	line-height:23px;
	border: 1px solid #B1B1B1;
	padding:0px;
	padding-left:4px;
	padding-right:4px;	
}
.subscribe_submit{
	width:44px;
	height:25px;
	color:#ffffff;
	font-size:11px;

	font-family:Arial;
	line-height:25px;
	text-align:center;
	background-color: #2B9FAE;
	border:none;
	background: url("/bitrix/templates/main_page/images/subscribe_submit.png") no-repeat scroll 0 0 transparent;
}
.feeadback_success{
	text-align:center;
}
.error{
	text-align:center;
		
}