/* Left menu*/
ul.footer-menu
{
	list-style:none;
	margin:0; padding:0;
}
ul.footer-menu li{
	padding-bottom:4px;
}
ul.footer-menu li a
{
	font-size:11px;
	color:#3b3b3b;
	font-family:Arial;
}
ul.footer-menu li a:hover
{
	text-decoration:none;
	color:#1e9aa9;
}



