div.bx-auth input.bx-auth-input {vertical-align:middle;}
div.bx-auth span.bx-auth-secure {background-color:#FFFAE3; border:1px solid #DEDBC8; padding:2px; display:inline-block; vertical-align:middle;}
div.bx-auth div.bx-auth-secure-icon {background-image:url(images/sec.png); background-repeat:no-repeat; background-position:center; width:19px; height:18px;}
div.bx-auth div.bx-auth-secure-unlock {background-image:url(images/sec-unlocked.png);}

.ema {
font-size: 13px;
font-style: italic;
padding: 5px;
width: 190px;
border: 1px dashed #000;
}

.subba {
font-size: 16px;
color: #FFF;
padding: 5px 30px;
background: #c2207d;
border: none;
cursor: pointer;
font-family: Georgia;
}