.filter-item-name-link {
    color: #333333;
    cursor: pointer;
    font-size: 9px;
    text-decoration: underline;
	position:absolute;
	z-index:15;	
	display:block;
	width:9px;
	height:13px;
}
#left-slider-price,#right-slider-price{
	height:4px;
	float:left;
	width:20px;
	background: #9e9e9e;
}
.filter-item-name-section {
    color: #5F3913;
    font-family: Myriad Pro;
    font-size: 19px;
    line-height: 1em;
    padding-left: 5px;
	text-transform:uppercase;
}
.filter-item-name-section a{
    color: #5F3913;
    font-family: Myriad Pro;
    font-size: 19px;
    line-height: 1em;
	text-transform:uppercase;
	text-decoration:none;
}
.filter-item{
	margin-bottom:10px;
}
.roundedTwo{
	padding-bottom:4px;
}
span.filter-name {
    color: #535353;
    font-size: 11px;
    text-transform: lowercase;
	cursor:pointer;
}
.roundedTwo:hover  span.filter-name, .checkedspan{ 
    color: #ffb321 !important;
}
.filter-item-name-str{
    padding-left: 15px;	
	display:block;
}
.filter-item-name-dotted {
    border-bottom: 1px dotted #9D9D9D;
    font-size: 1px;
    height: 3px;
    width: 148px;
}
.filter-price-title{
	font-size:15px;
	color:#535353;
    padding-left: 15px;		
}
.filter-item-name-link-cont {
    height: 13px;
    padding-right: 12px;
    position: relative;
    top: 1px;
    width: 9px;
    z-index: 5;
}
.filter-cont-ch{
	padding-left:5px;
	padding-right:5px;
	margin-bottom:5px;
}