/*Table*/
table.sale_basket_basket
{
	width:100%;
	border-collapse:collapse;
	font-size:12px;
	line-height:1.5em;
	color:#333333;	
}

table.sale_basket_basket input[type=text]{
	border:1px solid #333333;
	width:39px;
	height:19px;
	line-height:19px;
	padding-left:4px;
	padding-right:4px;
	color:#333333;		
}
table.sale_basket_basket a{
	color:#333333;
	text-decoration:none;
}
table.sale_basket_basket a:hover{
	color: #FF7700;
}


/*Table head*/
table.sale_basket_basket th
{
	background-color:#ebebeb;
	text-align: left;
	color:#333333;
	padding:10px 15px;
	line-height:1em;
	font-weight:normal;
}

/* Table cells and heads*/
table.sale_basket_basket td
{
	border-bottom:1px solid #000000;
	padding:20px 15px;
	font-weight:normal;
	vertical-align:middle;
	
}
table.sale_basket_basket td:first-child, table.sale_basket_basket th:first-child{
	padding-left:20px;
}	

.basket_top_cont_left span{
	line-height:1.2em;
	font-size:18px;
	padding-left:20px;
	color:#333333;	
}
.basket_top_cont_left {
	padding-top:10px;
	padding-bottom:13px;	
	float:left;
	width:442px;
	color:#ff7700;
	font-size:18px;	
}
.basket_top_cont_right {
	padding-bottom:13px;	
	float:left;
	width:400px;
}

.basket_top_cont_right a{
	background: url("/bitrix/templates/main_page/images/basket_button_bg.png") repeat-x scroll 0 0 transparent;
    border-color: #FA842D #E86F16 #DC6207;
    border-style: solid;
    border-width: 1px;
    color: white;
    cursor: pointer;
    font-size: 12px;
    height: 29px;
    line-height: 29px;
    padding: 0px 8px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 191px;
	display:block;	
	float:right;	
}

.basket_itog_price{
    color: #ff7700;
    font-size: 24px;	
	font-weight:bold !important;	
}
.basket_itog_price span{
    color: #ff7700;
    font-size: 12px;	
}
.basket_cupon{
	width:312px;
	float:left;
}
.basket_button_refresh{
	width:100px;
	float:left;	
	margin-right:223px;
}
.itog_basket_text{
	width:207px;
	float:right;		
}
#content_main  #small-basket-ajax{
	display:none;
}
.basket_button_refresh input{
	background: none repeat scroll 0 0 #2B9FAE;
    border-color: #52CFDF #32A6B4 #20828F;
    border-style: solid;
    border-width: 1px;
    color: #ffffff;
    cursor: pointer;
    font-size: 10px;
	font-weight:bold;
    height: 22px;
    padding: 2px 8px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 104px;	
}
.total_basket td{
	padding:0px;
	padding-bottom:8px;
}
.total_basket tr td:first-child{
	width:100px !important;
}
.total_basket tr td{
	width:107px;
	
}
.total_basket .basket_itog_price{
    color: #ff7700;
    font-size: 18px;	
	font-weight:bold !important;	
}

#basketOrderButton2{
	background: url("/bitrix/templates/main_page/images/basket_button_bg.png") repeat-x scroll 0 0 transparent;
    border-color: #FA842D #E86F16 #DC6207;
    border-style: solid;
    border-width: 1px;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 12px;
    height: 29px;
    line-height: 29px;
    padding: 0 8px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 207px;	
}

.basket_item_oldprice{
    color: #333333;
    font-size: 12px;	
	text-decoration: line-through;
}
.basket_item_price{
    color: #333333;
    font-size: 18px;		
}
.itog_basket_text{
	margin-bottom: 30px;
}