table.sale_order_full
{
	width:100%;
	border-collapse:collapse;
	border-top: 1px solid #000000;
}

/*Table head*/
table.sale_order_full th
{
	/*background-image:url(images/table_head.gif);
	background-repeat:repeat-x;*/
	text-align: left;

    background-color: #EBEBEB;
    color: #333333;
    font-weight: normal;
    line-height: 1em;
    padding: 10px 15px;
    text-align: left;
	
}


table.table_order td {
    border-bottom: 1px solid #000000;
    font-weight: normal;
    padding: 20px 15px;
    vertical-align: middle !important;
}
table.table_order a {
    color: #333333;
    text-decoration: none;
    font-size: 12px;
    line-height: 1.5em;	
}
table.table_order a:hover {
    color: #ff7700;
}
/* Table cells and heads*/
table.sale_order_full th, table.sale_order_full td
{
	vertical-align:top;
}
table.sale_order_full_table
{
	width:100%;
	background-color:#FFFFFF;
	border-collapse:collapse;

}
table.sale_order_full_table label {
	cursor: pointer;
}
/* Table cells and heads*/


table.sale_order_full_table td.radio {
	vertical-align:top;
}

table.sale_order_full_table td table td {
	padding:0;
	vertical-align:middle;
}

table.sale_order_full_table td img {
	margin-right:5px;
}
.sof-req{color:red;}
.sof-ok{color:green; font-weight:bold;}


.order_delivery{
	float:left;
	width:244px;
	margin-left:55px;
	
}
.order_delivery:first-child{
	margin-left:0px;
}

.order_delivery input[type=text]{
	width:230px;
	height:20px;
	border:1px solid #333333;
	padding-left:4px;
	padding-right:4px;
}
.order_delivery textarea{
	padding-left:4px;
	padding-right:4px;
	width:230px;
	height:72px;
	border:1px solid #333333;
	margin:0px;
}
.order_title{
	color:#333333;
	font-size:12px;
	text-transform:uppercase;
	margin-bottom:20px;
}

.sale_order_full_table_no_border{
	position:relative;
	
}
.order_location{
	position:absolute;
	z-index:10;
	left:299px;
	top:34px;
	width:244px;
}
.order_adres{
	position:absolute;
	z-index:10;
	left:299px;
	top:80px;	
	width:244px;	
}
.delivery_cont{
	padding-top:150px;
}
.order_delivery_cont{ 
	font-size:11px; 
	padding-top:20px;
	padding-left:20px;	
	padding-bottom:20px;		
}
.order_label{
	font-style:Italic;
	padding-left:5px;
}

.order_item_cont{
	padding-bottom:4px;
}
.email_legenda{
	padding-top:10px;
	padding-bottom:6px;	
	padding-left:4px;		
}
.medod_dostavki_legend{
	color:#ff7700;
	font-size:11px;
	font-style:Italic;
	padding-left:5px;		
}
.medod_dostavki{
	padding-left:5px;		
}

.position_radio {
   /*border: 1px dashed red;*/
    height: 10px;
    left: -17px;
    position: absolute;
    top: 2px;
    width: 9px;
}
.table_position{
	position:relative;
	left:-6px;
}

.ie10 .position_radio { 
  	top:-8px !important;
}
table.sale_order_full_table label{
	font-style: Italic;
	font-size:11px;
}
table.sale_order_full_table label b{
	font-style: Regular;
}

.order-top{
	border-bottom:1px solid #000000;
}
.basket_top_cont_left {
    color: #FF7700;
    float: left;
    font-size: 18px;

    padding-top: 5px;
    width: 442px;
}
.basket_top_cont_right {
    float: left;

    width: 400px;
}
.basket_top_cont_left span {
    color: #333333;
    font-size: 18px;
    line-height: 1.2em;
    padding-left: 20px;
}
.basket_top_cont_right a {
    background: url("/bitrix/templates/main_page/images/basket_button_bg.png") repeat-x scroll 0 0 transparent;
    border-color: #FA842D #E86F16 #DC6207;
    border-style: solid;
    border-width: 1px;
    color: white;
    cursor: pointer;
    display: block;
    float: right;
    font-size: 12px;
    height: 29px;
    line-height: 29px;
    padding: 0 8px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 191px;
}

.order_delivery_left {
    float: left;
    margin-left: 55px;
    width: 207px;
}


.basket_item_price {
    color: #333333;
    font-size: 18px;
}
.basket_item_oldprice {
    color: #333333;
    font-size: 12px;
    text-decoration: line-through;
}

.basket_itog_price {
    color: #FF7700;
    font-size: 24px;
    font-weight: bold !important;
}
.basket_itog_price span {
    color: #FF7700;
    font-size: 12px;
}
.itog_basket_text {
    float: right;
    width: 207px;
}
.total_basket td {
    padding: 0 0 8px;
	font-size:11px;
}
.total_basket .basket_itog_price {
    color: #FF7700;
    font-size: 18px;
    font-weight: bold !important;
}
#order_end {
	background: url("/bitrix/templates/main_page/images/basket_button_bg.png") repeat-x scroll 0 0 transparent;
    border-color: #FA842D #E86F16 #DC6207;
    border-style: solid;
    border-width: 1px;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 14px;
    height: 29px;
    line-height: 29px;
    padding: 0 8px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 207px;	
}

.total_basket tr td:first-child {
    width: 100px !important;
}
.total_basket tr td {
    width: 107px;
}
#order_form_div{
	margin-bottom:50px;
	color:#333333;
}
.order_confirm_color{
	color:#f9891d;
	font-size:13px;
}
.order_confierm_cont{
	padding-left:20px;
	/*padding-top:20px;	*/
	/*width:647px;*/
	font-size:13px;

}
.order_podpis{
	font-size:14px;	
	color:#333333;
	font-style:Italic;
}
.confierm_top_cont{
	border-bottom:1px solid #000000;
	margin-bottom:20px;
}
.table_position td{
	padding-bottom:10px;
}
.sale_order_full_table td{
	padding-bottom:10px;	
}