/**Top menu**/
#top_menu{padding-top:8px;}
#horizontal-multilevel-menu,#horizontal-multilevel-menu ul
{
	margin:0; padding:0;
	list-style:none;

}



/*Links*/
#horizontal-multilevel-menu a
{	color:#696969;

	font-size:18px;
	display:block;
	padding:5px 15px 5px 0;
	/*padding:0.3em 0.8em;*/

	text-align:center;
}

#horizontal-multilevel-menu li 
{
	float:left;
}
.pad{width:1px;
	height:31px;
	padding:0 15px 0 0;
		background:url('/bitrix/templates/wit_ru/images/fil.png')no-repeat;}
/*Root items*/
#horizontal-multilevel-menu li a.root-item
{
	

}

/*Root menu selected*/
#horizontal-multilevel-menu li a.root-item-selected
{
color:#fd0059;
text-decoration:none;

}


/*Item-parents*/
#horizontal-multilevel-menu a.parent
{
	background: url(images/arrow.gif) center right no-repeat;
}

/*Denied items*/
#horizontal-multilevel-menu a.denied
{
	background: url(images/lock.gif) center right no-repeat;
}

/*Child-items: hover*/
#horizontal-multilevel-menu li:hover .root-item, #horizontal-multilevel-menu li.jshover .root-item
{

color:#fd0059;
text-decoration:none;
}


/*Child-items selected*/
#horizontal-multilevel-menu li.item-selected a
{
color:#fc015a !important;
text-decoration:none;
}

/*Sub-menu box*/
#horizontal-multilevel-menu li ul
{	left:-16px;
	position:absolute;
	border-bottom:1px solid #bbbbbb;
	
	top:30px;
	width:107px;
	padding-top:5px;
	display:none;
	z-index:500;
	background:#edeeee;
	border-radius:0 0 2px 2px;




}

/*Sub-menu item box*/
#horizontal-multilevel-menu li li 
{
border-left:1px solid #bbbbbb;
	border-right:1px solid #bbbbbb;
	float:none;
}
#horizontal-multilevel-menu li li  a{color:#010101;
	font-size:14px !important;
	text-decoration:underline;
	padding:0 10px 10px 20px;}
#horizontal-multilevel-menu li li  a:hover{color:#fc015a;
	text-decoration:none;}
#horizontal-multilevel-menu li ul a
{
	text-align:left;
}

/*Items text color & size */
#horizontal-multilevel-menu li a,
#horizontal-multilevel-menu li:hover li a,
#horizontal-multilevel-menu li.jshover li a,
#horizontal-multilevel-menu li:hover li:hover li a,
#horizontal-multilevel-menu li.jshover li.jshover li a,
#horizontal-multilevel-menu li:hover li:hover li:hover li a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li a,
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li a,
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li:hover li a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li.jshover li a
{


}

/*Items text color & size: hover*/
#horizontal-multilevel-menu li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover a,
#horizontal-multilevel-menu li:hover li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover a,
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover a
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li.jshover a
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li.jshover li.jshover a
{
	
}

#horizontal-multilevel-menu li ul ul
{
	margin:-27px 0 0 132px;
	/*margin:-1.93em 0 0 11.6em;*/
}

#horizontal-multilevel-menu li:hover ul ul,
#horizontal-multilevel-menu li.jshover ul ul,
#horizontal-multilevel-menu li:hover ul ul ul,
#horizontal-multilevel-menu li.jshover ul ul ul,
#horizontal-multilevel-menu li:hover ul ul ul ul,
#horizontal-multilevel-menu li.jshover ul ul ul ul,
#horizontal-multilevel-menu li:hover ul ul ul ul ul,
#horizontal-multilevel-menu li.jshover ul ul ul ul ul
{
	/*top:-999em;*/
	display:none;
}

#horizontal-multilevel-menu li:hover ul,
#horizontal-multilevel-menu li.jshover ul,
#horizontal-multilevel-menu li li:hover ul,
#horizontal-multilevel-menu li li.jshover ul,
#horizontal-multilevel-menu li li li:hover ul,
#horizontal-multilevel-menu li li li.jshover ul,
#horizontal-multilevel-menu li li li li:hover ul,
#horizontal-multilevel-menu li li li li.jshover ul,
#horizontal-multilevel-menu li li li li li:hover ul,
#horizontal-multilevel-menu li li li li li.jshover ul
{
	/*z-index:1000;
	top:auto;*/
	display:block;
}

div.menu-clear-left
{
	clear:left;
}

.lor{position:relative;
	}
.a_lor{position:relative;
	cursor:default;
	z-index:501;
	background:url('images/str.png') right 14px no-repeat;
	}
.lor:hover .a_lor{background:url('images/str_act.png') right 14px no-repeat;}