div.news-list img.preview_picture
{
	margin:0;
	border:1px solid #363636;
}
.news-date-time {
	color:#9d9d9d;
	font-size:11px;
	font-family:Arial;
	line-height:1em;
	margin-bottom:10px;
}
.news-item-name {
	margin-bottom:10px;
}
.news-item-name a{
	color: #5F3913;
    font-family: Myriad Pro;
    font-size: 18px;
    line-height: 1.2em;
    text-transform: uppercase;
	text-decoration:none; 
	
}
.news-item-text{
	color:#333333;
	font-size:11px;
	font-family:Arial;
	line-height:1.2em;

}
.news-item-text-cont{
	margin-top:15px;
}

.news-item{
	margin-bottom:20px;

}

.line-all-news-text {
    color: #2EB3BA;
    font-size: 11px;
    text-decoration: underline;
}
.line-all-news-text:hover {
    text-decoration: none;
}
.news-and-article-line-all-news{
	padding-top:2px;
}