.menu_catalog{margin:0 40px 20px 40px;}
.menu_catalog a{float:left;
	display:block;
	padding:5px 20px;
	font-size:15px;
	color:#696969;
	}
.menu_catalog a:hover{text-decoration:none;}
.menu_catalog .select{background:#2d869e;
	color:#FFF;
	text-decoration:none;}