#catalog{margin-bottom:60px;}
#catalog .cat_item{margin-bottom:30px;
	float:left;
	width:170px;}
#catalog .cat_item_tab{text-align:center;
	vertical-align:bottom;
	padding-bottom:5px;
	display:table-cell;
	width:179px;
	}
	
#catalog .name{color:#ec0155;
	font-size:14px;
	margin-bottom:10px;
	text-align:center;}
#catalog .price{
	font-size:22px;
	margin-bottom:5px;
	text-align:center;}
#catalog .price span{font-size:16px;}
.cat_item_podrobno{
	position:relative;
	margin-bottom:10px;}
.in_basket{color:#FFF;
	background:#c2207d;
	font-size:14px;
	padding:3px 27px;
	border:none;
	cursor:pointer;
	margin-left:33px;}
.cat_item_link{display:none;
	text-decoration:none;
	position:absolute;

	width:179px;
	height:104px;
	z-index:100;
	}
.cat_item_podrobno:hover .cat_item_link{display:block;}

.ContentWrap {
	top: 0px;
	position: absolute;
	left: -489px;
	background:#FFF;
	-moz-box-shadow: 0 0 30px #000;
	-webkit-box-shadow: 0 30px #000;
	box-shadow: 0 0 30px #000;
	
}
.no_sklad{color:#a8a8a8;
	font-size:12px;
	width:110px;
	margin-left:32px;
	padding:3px 0;
	text-align:center;
	border:1px dashed #c4c4c4;}
	
.in_bask{
	color:#FFF;
	background:url('images/basket_no.png') repeat-x;
	font-size:14px;
	font-weight:bold;
	padding:6px 0 5px 0;
	width:80px;
	box-shadow: -1px 2px 10px #454545;
	border:none;
	text-align:center;
	cursor:pointer;
	margin-left:45px;
	}
.inback{
background:url('images/basket_yes.png') repeat-x;
}
.cat_item_t{margin-bottom:5px;}

.count_v{font-size:16px;
	color:#989898;
	text-align:center;
	margin-bottom:8px;
	}
.count_v input{width:22px;
	text-align:center;
	border:1px solid #c1bdbd;
	padding:2px 0;}