.detail_picture{float:right;
	margin-left:20px;
	border:1px solid #dddddd;
	}
.news-date-time{color:#a7a7a7;
	font-size:16px;
	margin-bottom:13px;}
.ev_name{font-size:22px;
	margin-bottom:30px;}
.det_events{font-size:18px;
	color:#6b6b6b;}
.det_rel{position:relative;
	padding-bottom:35px;}
.all_bottom{position:absolute;
	right:0;
	bottom:0;
	display:block;
	text-decoration:none;
	color:#FFF;
	padding:4px 15px;
	background:url('images/all.png') repeat-x;
	box-shadow:-2px 3px 10px #454545;}

.all_top{position:absolute;
	right:0;
	top:-90px;
	display:block;
	text-decoration:none;
	color:#FFF;
	padding:4px 15px;
	background:url('images/all.png') repeat-x;
	box-shadow:-2px 3px 10px #454545;}
	
@-moz-document url-prefix()
{
.all_bottom, .all_top{padding:4px 15px 3px 15px;}
}