.catalog-price {
	 color:red;
}
div.catalog-section table td {
	padding-right:10px;
	padding-top:10px;
}


#catalog-all-goods {
    padding-left: 19px;
}
.catalog-item-line .catalog-item:first-child {
    margin-left: 0 !important;
}
.catalog-item {
    float: left;
    margin-left: 10px;
    padding: 8px 5px 15px;
    position: relative;
    width: 193px;
}
.block-item-bag {
    padding-bottom: 5px;
    width: 193px;
	position:relative;
	z-index:5;
}
.img_bg2{
	display:none;
}
.block-item-bag:hover  .img_bg2{
	display:block;	
}
.block-item-bag:hover  .img_bg{
	display:none;	
}

.block-item-bag .icons {
    bottom: -98px;
    left: 120px;
    position: absolute;
    z-index: 15;
}
.catalog-title-brand {
    font-size: 14px;
    text-decoration: underline;
	color:#000000;		
}
.catalog-title-brand:hover {
    font-size: 14px;
    text-decoration: none;
	color:#000000;
}
.all-text-under-bag {
    text-align: center;

}

.catalog-text-description {
    color: #333333;
    display: block;
    font-size: 10px;
    height: 3em;
    padding-top: 4px;
    text-align: center;
	width:193px;
	margin:0 auto;
}
.catalog-line-price {
    padding-top: 2px;
}

span.old-price {
    font-size: 9px;
    margin-right: 5px;
    text-decoration: line-through;
}

span.new-price {
    color: #FF7700;
    font-size: 14px;
    font-weight: bold;
}

span.new-price-rubls {
    color: #FF7700;
    font-size: 12px;
    font-weight: bold;
}
.all-text-under-bag a:hover{
	text-decoration:none !important;
}
.all-text-under-bag{
	width:193px;
}
.img_bg{
	display:block;

	border:none;
	/*width:191px;*/
	/*height:230px;*/
	/*background:url('/bitrix/templates/main_page/images/ajax-loader2.gif') no-repeat #ffffff;*/
}
.catalog-item-line{
	border-top:1px solid #9d9d9d;
}
.catalog-item-line:first-child{
	border-top:1px solid #ffffff;
}

.filter-resel-all{
	text-align:right;
	padding-right:12px;
    color: #333333;
    cursor: pointer;
    display: block;
    font-size: 9px;
    text-decoration: underline;
	margin-top:10px;
	margin-bottom:10px;
}	
.detail_bot_cont #catalog-all-goods{
	padding:0px;
}
.detail_bot_cont .catalog-item{
	margin-left:4px; 
}
.detail_bot_cont .catalog-item {
    padding: 2px;
}