.slider-list{
	height:562px;
}

.scrollable {
  /* required settings */
  position:relative;
  overflow:hidden;
  width: 918px;
  height:562px;
}
.scrollable .items {
  /* this cannot be too large */
  width:20000em;
  position:absolute;
}
 .items .it_slider {
  float:left;
  display:block;
  text-decoration:none;
  width: 918px;
  height:562px;
}
.prev{position:absolute;
	left:30px;
	top:130px;
	width:24px;
	cursor:pointer;
	height:103px;
	background:url('images/left.png') no-repeat;
	z-index:1000;}
	
	
.next{position:absolute;
	right:30px;
	top:130px;
	cursor:pointer;
	width:24px;
	height:103px;
	background:url('images/right.png') no-repeat;
	z-index:1000;}
.name_sl{margin:0px 0 40px 0px;
	color:#2d869e;
	font-size:41px;
	width:240px;
	line-height:45px;
	}
.txt_sl{color:#000;
	font-size:14px;

	width:240px;}