/*Table*/
table.sale_basket_basket
{
	width:100%;
	background-color:#F9FAFB;
	border-collapse:collapse;
	font-size:12px;
}

/*Table head*/
table.sale_basket_basket th
{
	background-image:url(images/table_head.gif);
	background-repeat:repeat-x;
	text-align: left;
	color:#25639A;
}

/* Table cells and heads*/
table.sale_basket_basket th, table.sale_basket_basket td
{
	border:1px solid #ADC3D5;
	padding: 3px 5px;
	vertical-align:top;
}

#content .cart {
	width:100%;
	border-spacing:0;
	border-collapse:collapse;
	border-bottom:1px solid #7F4E24;
	margin:0 0 10px;
}
#content .cart th {
	border-bottom:1px solid #7F4E24;
}

#content .cart td {padding:5px 10px;}

#content .cart input.quantity {
	width:20px;
	border-radius:5px;
	text-align:center;
}
#content .cart .image {position:relative}
#content .cart .image .fancybox {
	position:absolute;
	right:5px; top:5px;
}
#content .cart .image img {border:1px solid #7f4e24}
#content .cart .image .fancybox img {border:0;}
#content .cart .quantity-minus, #content .cart .quantity-plus {
	font-size:21px;
	text-decoration:none;
	vertical-align:middle;
	cursor:pointer;
}
#BasketRefresh {display:none;}

.cart-amount {font:bold 21px Arial; margin:0 0 20px;}
.cart-amount span {font-size:16px;}