h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: Myriad Pro;
	color:#5f3913;	
	margin:20px 0 10px;
}
h1, .h1 {font-size:18px;text-transform:uppercase;}
h2, .h2 {font-size:16px; color:#2eb3ba;font-size:14px;text-transform:uppercase;}
h3, .h3 {font-size:14px;}
h4, .h4 {font-size:12px;}
h5, .h5 {font-size:10px;}
h6, .h6 {font-size:8px;}
h1.title {font-size:16px; font-weight:normal; margin-bottom:20px;margin-top:0px;}
ul {margin:10px 0; padding:0 0 0 20px;}

#block-bottom-text p{
	text-align: center; 
	font-family: Arial; 
	font-size: small; 
	background-color: rgb(255, 255, 255);
}
#block-bottom-text p span{
	text-align: justify;
}
.g-opisanie{
	font-family: Arial; 
	font-size: small; 
	background-color: rgb(255, 255, 255);
}