@font-face {
font-family: MyriadPro-Cond;
src: local("DINPro"), /* проверяем наличие шрифта в ОС пользователя */ url('/bitrix/templates/main_page/fonts/MyriadPro-Cond.otf');
}

@font-face {
font-family: MyriadPro;
src: local("DINPro"), /* проверяем наличие шрифта в ОС пользователя */ url('/bitrix/templates/main_page/fonts/MyriadPro-Regular.otf');
}

@font-face {
font-family: gothic;
src: local("Century Gothic"), /* проверяем наличие шрифта в ОС пользователя */ url('/bitrix/templates/main_page/fonts/GOTHIC.TTF');
}

body {
margin: 0px;
padding: 0px;
font-family: Arial;
font-size: 12px;
}

img {
border: none;
}

#conteiner-viaborsa {
width: 999px;
margin: 0 auto;
font-family: Arial;
color: #000000;

}

input {
outline: none;
}

#conteiner-viaborsa-last {
width: 842px;
margin: 0 auto;
}

#wrapper {
/*background: url("/bitrix/templates/main_page/images/ng.png") no-repeat scroll center 0 transparent;   */
}

.clear, .clear:after {
background-color: #FFFFFF;
clear: both;
content: ".";
display: block;
font-size: 1px;
height: 0;
line-height: 0;
visibility: hidden;
}

#line-above-menu {
height: 92px;
padding-top: 17px;
}

#block-above-menu-left {
width: 436px;
float: left;
}

.via-logotip {
display: block;
width: 173px;
height: 92px;
position: absolute;
}

.text-internet-shop {
color: #817474;
font-size: 12px;
font-style: italic;
position: relative;
margin-top: 77px;
margin-left: 103px;
}

#block-above-menu-center {
width: 203px;
float: left;
margin-top: 67px;
}

.punktir {
display: block;
width: 1px;
height: 25px;
float: left;
padding-top: 2px;
}

#number-phone {
text-align: center;
float: left;
width: 201px;
}

#number-phone-one {
float: left;
margin-left: 17px;
margin-right: 6px;
color: #7A7A7A;
font-size: 16px;
margin-top: 8px;
line-height: 1em;
}

#number-phone-two {
color: #5F3913;
font-size: 22px;
line-height: 26px;
}

#block-above-menu-right {
float: left;
width: 200px;
}

span.rubls1 {
color: #7F7F7F;
}

span.korzina {
color: #ff7700;
font-size: 12px;
text-decoration: underline;
font-weight: bold;
line-height: 1.33em;
}

.korsina-quantity-goods-price {
float: left;
padding-left: 42px;
padding-top: 23px;
width: 114px;
position: relative;
z-index: 5;
}

.korsina-text {
font-size: 11px;
font-family: Arial;
color: #000000;
text-decoration: none;
display: block;
line-height: 1.46em;
}

.korzina-picture {
float: left;
display: block;
padding-left: 17px;
padding-top: 27px;
}

.search {
margin-left: 20px;
margin-top: 10px;
}

.input-seach-korzina {
color: #817474;
font-style: italic;
}

.line-menu-and-skroll {
width: 841px;
height: 360px;
background-color: #E3E0E6;
margin-left: 81px;
margin-top: 20px;
}

.top-menu {
padding-top: 20px;
}

.slider_img .photo table tr td {
height: 486px;
padding: 0;
text-align: center;
vertical-align: middle;
width: 730px;
}

table {
border-collapse: collapse;
border-spacing: 0;
}

.catalog-section .image .icons {
height: 40px;
margin: 0 !important;
position: absolute;
right: 25px;
top: 5px;
width: 40px;
}

.sale_bg {
background: url("images/ico/sale_ico2.png") no-repeat scroll 0 0 transparent;
color: #FFFFFF;
font-size: 16px;
font-weight: bold;
height: 35px;
line-height: 40px;
text-align: center;
width: 46px;
}

.text-below-menu {
color: #5F3913;
font-size: 11px;
margin-left: 49px;
margin-top: 12px;
text-align: center;
width: 742px;
}

.spring-picture {
display: block;
margin-top: 23px;
}

.scroll-vertical-line-z {
background-color: #FFFFFF;
font-size: 1px;
height: 100%;
position: absolute;
width: 1px;
z-index: 100;
}

.leiba-scrll {
position: absolute;
width: 36px;
height: 36px;
z-index: 100;
background: url('/bitrix/templates/main_page/images/leiba-scrll.png') no-repeat;
color: #ffffff;
font-size: 12px;
font-family: Arial;
top: 22px;
right: 25px;
font-weight: bold;
}

.g_items ul li {
background: none repeat scroll 0 0 transparent !important;
list-style: none outside none;
margin-bottom: 0 !important;
margin-left: 0;
margin-right: 0;
margin-top: 0 !important;
text-indent: 0 !important;
}

.g-item-scroll {
border-color: #C1C1C1;
border-style: solid;
border-width: 1px;
margin-top: 25px;
position: relative;
//  width: 840px;
}

.g_items .scroll-item {
padding-left: 15px;
padding-right: 15px;
width: 250px;
height: 320px;
position: relative;
z-index: 10;
}

.scroll-vertical-line {
position: absolute;
z-index: 15;
left: 0px;
width: 1px;
top: 10px;
height: 309px;
font-size: 1px;
}

.g-item-scroll #anons_prev {
left: -18px;
top: 45%;
position: absolute;
display: block;
font-size: 0px;
z-index: 100;
width: 36px;
height: 36px;
background: url(/bitrix/templates/main_page/images/left_ar_sp.png) no-repeat 0 0;
}

.g-item-scroll #anons_next {
//left: 823px;
margin-left: 98%;
top: 45%;
position: absolute;
display: block;
font-size: 0px;
z-index: 100;
width: 36px;
height: 36px;
background: url(/bitrix/templates/main_page/images/right_ar_sp.png) no-repeat 0 0;
}

.g-item-scroll #anons_prev:hover {
background: url(/bitrix/templates/main_page/images/left_ar_sp.png) no-repeat 0 -36px !important;
}

.g-item-scroll #anons_next:hover {
background: url("/bitrix/templates/main_page/images/right_ar_sp.png") no-repeat scroll 0 -36px transparent !important;
}

.g_items {
/*padding-top:10px;*/
padding-bottom: 10px;
position: relative;
z-index: 10;
}

.scroll-name-good a {
font-size: 17px;
text-decoration: underline;
}

.scroll-text-description {
color: #535353;
font-size: 11px;
text-align: center;
line-height: 1.2em;
height: 1.2em;
overflow: hidden;
}

.scroll-line-price {
margin-top: 2px;
}

span.old-price {
font-size: 11px;
margin-right: 5px;
text-decoration: line-through;
color: #333333;
}

span.new-price {
color: #ff7700;
font-weight: bold;
font-size: 16px;
}

span.new-price-rubls {
color: #ff7700;
font-size: 11px;
}

.scroll-name-good {
text-align: center;
text-align: center;
margin-bottom: 3px;
}

.scroll-name-good .item_title {
font-family: Arial;
font-size: 14px;
color: #000000;
line-height: 1.2em;
}

.buttom-korzina-scroll-item .bt3 {
background: none repeat scroll 0 0 #2B9FAE;
border-color: #52CFDF #32A6B4 #20828F;
border-style: solid;
border-width: 1px;
color: white;
cursor: pointer;
font-size: 8px;
height: 13px;
margin-top: 3px;
text-align: center;
width: 61px;
padding: 1px 8px;
text-transform: uppercase;
text-decoration: none;
}

/*
.img_bg{
border:1px dashed red;
}
#catalog-all-goods{
background-color:#000000;
}*/

.v_korzine {
background-color: #ffffff !important;
border-color: #52CFDF #32A6B4 #20828F !important;
border-style: solid;
border-width: 1px;
color: #1f818d !important;
cursor: pointer;
font-size: 8px;
height: 13px;
margin-top: 3px;
text-align: center;
width: 61px;
padding: 1px 8px;
text-transform: uppercase;
text-decoration: none;
}

.icons-sale {
bottom: -98px;
left: 143px;
position: absolute;
z-index: 15;
}

.scroll-name-good a:hover {
text-decoration: none;
}

.buttom-korzina-scroll-item {
margin-top: 3px;
position: relative;
z-index: 100;
}

.all-text-under-bag {
text-align: center;
width: auto !important;
}

.bx-viewport {
overflow: hidden !important;
height: 304px !important;
}

#slider {
overflow: hidden !important;
height: 304px !important;

}

.scroll-item .item_title:hover {
text-decoration: none !important;
border: none;
}

.link {
text-decoration: none;
}

.block_title {
margin-left: 10px;
margin-right: 10px;
}

#block-news-and-article {
height: 309px;
margin-top: 10px;
width: 842px;
}

.block_title_bg {
background: url("/bitrix/templates/main_page/images/block_title_bg.png") no-repeat scroll 0 0 transparent;
font-size: 12px;
line-height: 20px;
padding-left: 5px;
padding-right: 2px;
}

.block-news-and-article-item {
float: left;
padding-left: 20px;
padding-right: 20px;
padding-top: 25px;
width: 240px;
}

.scroll-vertical-line_block {
float: left;
width: 1px;
height: 309px;
font-size: 1px;
}

.block-news-and-article-name {
color: #5F3913;
font-family: MyriadPro;
font-size: 20px;
text-align: center;
padding-bottom: 23px;
}

.block-news-description {
width: 220px;
}

.socset_vk {
width: 37px;
height: 37px;
display: block;
text-decoration: none;
background: url("/bitrix/templates/main_page/images/ico/vk.png") no-repeat scroll 0 0 transparent;
}

.socset_vk:hover, .vkladka_hover_vk {
background: url("/bitrix/templates/main_page/images/ico/vk_sel.png") no-repeat scroll 0 0 transparent !important;
}

.vkladka_text_hover {
display: block !important;
}

.vkladka_text {
display: none;
}


.socset_fb {
width: 37px;
height: 37px;
display: block;
text-decoration: none;
background: url("/bitrix/templates/main_page/images/ico/fb.png") no-repeat scroll 0 0 transparent;
}

.socset_fb:hover, .vkladka_hover_fb {
background: url("/bitrix/templates/main_page/images/ico/fb_sel.png") no-repeat scroll 0 0 transparent;
}

.socset_tube {
width: 37px;
height: 37px;
display: block;
text-decoration: none;
background: url("/bitrix/templates/main_page/images/ico/you_tube.png") no-repeat scroll 0 0 transparent;
}

.socset_tube:hover {
background: url("/bitrix/templates/main_page/images/ico/you_tube_sel.png") no-repeat scroll 0 0 transparent;
}

.block-socseti-cont-top {
color: #000000;
font-family: MyriadPro;
font-size: 12px;
text-transform: uppercase;
margin-bottom: 10px;
}

#block-bottom-text {
color: #4C4B4B;
font-size: 11px;
margin: 14px auto 25px;
text-align: center;
width: 730px;
}

.subscribe-form {
margin-bottom: 22px;
}

.footer {
border-top: 1px solid #c5c5c5;
background-color: #e9e9e9;
padding-top: 22px;
padding-bottom: 40px;
}

.footer-top {
border-bottom: 1px dotted #c5c5c5;
padding-bottom: 14px;
}

.footer-bot {
padding-top: 14px;

}

.footer-cont {
width: 841px;
margin: 0 auto;
}

.footer-bot-left {
color: #858282;
font-family: Arial;
font-size: 11px;
line-height: 1.27em;
width: 441px;
float: left;
}

.footer-bot-right {
color: #858282;
font-family: Arial;
font-size: 11px;
line-height: 1.27em;
width: 378px;
float: left;
text-align: right;
padding-right: 22px;
}

.footer-bot-right a {
color: #1ba4b3;
font-size: 11px;
}

.logo-footer {
padding-left: 22px;
padding-right: 12px;
}

.footer-menu {
width: 166px;
float: left;
padding-left: 22px;
padding-right: 22px;
}

.footer-menu-title {
color: #1e9aa9;
font-size: 11px;
font-family: Arial;
text-transform: uppercase;
padding-bottom: 8px;
}

.block-socseti-cont-bot {
width: 225px;
margin: 0 auto;
}

.community_head img {
width: 40px !important;
height: 40px !important;
}

.community_head {
color: #000000 !important;
}

.pts {
color: #000000 !important;
}

#content_catolog_cont {
width: 842px;
border-bottom: 1px solid #BEB8B8;
margin-bottom: 56px;
}

#content_filter {
background-color: #F3F3F3;
float: left;
width: 193px;
position: relative;
z-index: 10;

}

#content_cataloglist {
float: left;
width: 649px;

position: relative;
z-index: 3;
}

.bottom_nav #catalog-top-nav {
padding-top: 18px;
}

#content_main {
width: 842px;
position: relative;
z-index: 5;
}

.bottom_nav {
position: absolute;
bottom: -36px;
right: 0px;

}

.bottom_nav .system-nav-orange {
margin-bottom: 0px;
}

.loadercont2 {
display: none;
height: 100%;
left: 0;
position: absolute;
text-align: center;
top: 0;
width: 100%;
z-index: 2000;
}

.loadercont {
display: none;
height: 100%;
left: 0;
position: absolute;
text-align: center;
top: 30px;
width: 100%;
z-index: 2000;
}

.waitingcont2, .waitingcont {
background-color: #FFFFFF;
display: none;
height: 100%;
left: 0;
opacity: 0.5;
position: absolute;
top: 0;
width: 100%;
z-index: 1000;
}

#idsmallbasket_loading, #idsmallbasket_waiting {
width: 204px;
}

#cart_line {
position: relative;
z-index: 5;
}

.top-footer-cont {
width: 842px;
margin: 0 auto;
}

.brend_pic {
width: 162px;
float: left;
margin-right: 8px;
}

.brend_cont {
padding-bottom: 12px;
}

.brend_text {
width: 460px;
float: left;
color: #333333;
font-size: 11px;
font-family: Arial;
line-height: 1.36em;
}

.nodisplay {
display: none;
}

.col-filter-price {
float: left;
width: 90px;
}

.cusel_conteiner {
padding-top: 8px;
}

.block-article-leftcol {
padding-left: 18px;
padding-right: 18px;
font-size: 11px !important;
}

.block-article-leftcol a {
font-size: 11px !important;
}

.block-article-leftcol .news-list-block {
height: auto !important;
}

.block-article-leftcol .news-and-article-line-all-news {
position: static !important;
}

#vverh {
position: absolute;
bottom: 20px;
text-align: center;
width: 193px;
z-index: 5;
cursor: pointer;
/*padding-top:60px;	*/
}

#content_filter_contrel {

}

#cont_vverh {
/*height:100%;*/
width: 193px;
position: relative;
z-index: 7;
overflow: hidden;
}

#content_filter_contrel .block-article-leftcol {
padding-bottom: 80px;
}

.detail_buy a.toshop_detail {
background: url("/bitrix/templates/main_page/images/toshop_detail.png") repeat-x scroll 0 0 transparent;
border-color: #fa842d #E86F16 #DC6207;
border-style: solid;
border-width: 1px;
color: white;
cursor: pointer;
font-size: 12px;
height: 22px;
line-height: 22px;
margin-top: 3px;
padding: 4px 8px 3px;
text-align: center;
text-decoration: none;
text-transform: uppercase;
width: 61px;
}

.detail_buy {
position: relative;
}

.detail_buy_toshop {
background-color: #ff9421;
color: #ffffff;
font-size: 11px;
position: absolute;
z-index: 10;
top: 24px;
width: 191px;
padding: 5px 9px;

line-height: 1.1em;
}

.detail_buy_toshop span {
text-decoration: underline;
color: #ffffff;
background: none;
border: none;

}

a.toshop {
background: url("/bitrix/templates/main_page/images/toshop.png") repeat-x scroll 0 0 transparent;
border-color: #fa842d #E86F16 #DC6207;
border-style: solid;
border-width: 1px;
color: white;
cursor: pointer;
font-size: 8px;
height: 13px;
line-height: 13px;
margin-top: 3px;
padding: 1px 8px;
text-align: center;
text-decoration: none;
text-transform: uppercase;
width: 61px;
position: relative;
}

a.toshop:hover .buy_toshop {
display: block;
}

.buy_toshop {
background-color: #ff9421;
color: #ffffff;
font-size: 11px;
position: absolute;
z-index: 10;
top: 14px;
left: -1px;
width: 210px;
padding: 5px 9px;
display: none;
line-height: 1.1em;
text-transform: none;
text-align: left;
}

.buy_toshop span {
text-decoration: underline;
color: #ffffff;
background: none;
border: none;
}

body {
color: #222222;
}

li.head, li.g, body, html, .std, .c h2, #mbEnd h2, h1 {
font-family: arial, sans-serif;
font-size: small;
}

body, #leftnav, #tbdi, #hidden_modes, #hmp {
background: none repeat scroll 0 0 #FFFFFF;
}

body {
color: #000000;
margin: 0;
overflow-y: scroll;
}

li.head, li.g, body, html, .std, .c h2, #mbEnd h2, h1 {
font-family: arial, sans-serif;
font-size: small;
}

.back_up {
padding-left: 20px;
padding-top: 10px;
color: #000000;
font-family: Arial;
font-size: 10px;
padding-bottom: 10px;
border-bottom: 1px solid #000000;
}

.back_up a {
color: #000000;
font-size: 10px;
}

#left-menu-rubrikator {
float: left;
width: 247px;
margin-right: 20px;
background-color: #F3F3F3;
position: relative;
z-index: 10;
padding-top: 14px;
padding-bottom: 80px;
}

#main-right {
float: left;
width: 575px;
padding-top: 20px;
padding-bottom: 20px;
}

.line_bottom_fl {
background-color: #BEB8B8;
height: 1px;
width: 100%;
}

#left-menu-rubrikator #vverh {
width: 249px;
}

#left-menu-rubrikator .filter-item-name-str {
padding-left: 20px;
color: #5F3913;
font-family: Myriad Pro;
font-size: 19px;
line-height: 1em;
text-transform: uppercase;
}

#left-menu-rubrikator .filter-item-name-dotted {
border-bottom: 1px dotted #9D9D9D;
font-size: 1px;
height: 3px;
width: 205px;
}

#poisk {
width: 174px;
height: 23px;
color: #9f9f9f;
/*background: url('/bitrix/templates/main_page/components/bitrix/search.form/search/images/poisk_bg.jpg') no-repeat;*/
border: 1px solid #b1b1b1;
}

#inp input {
display: block;
width: 140px !important;
/*height: 23px;*/
line-height: 23px;
padding: 0px;
padding-left: 5px;
padding-right: 5px;
border: 0px;
height: 23px;
color: #9f9f9f;
font-size: 11px;
font-family: Arial;
font-style: Italic;
}

#inp {
width: 150px;
height: 23px;
overflow: hidden;
background: none;
float: left;
}

#form_poisk {
margin: 0;
}

#strelka {
float: left;
height: 23px;
width: 24px;
}

.result_search_catalog {
margin-left: 20px;
margin-top: 20px;
margin-bottom: 20px;
}

.articles_search_page {
padding-top: 12px;
}

.bottom_nav .cuselText {
width: 20px;
}

.card-logo {
position: relative;
}

.card-logo-item-cont {
position: absolute;
right: 33px;
width: 95px;
height: 130px;
}

.card-logo-item {
display: block;
margin-bottom: 5px;
}

.subscribe_title {
color: #000000;
font-size: 11px;
font-family: Arial;
text-transform: uppercase;
padding-left: 10px;
padding-right: 10px;
}

.subscribe_input {
width: 265px;
height: 23px;
color: #9f9f9f;
font-size: 11px;
font-style: Italic;
font-family: Arial;
line-height: 23px;
border: 1px solid #B1B1B1;
padding: 0px;
padding-left: 4px;
padding-right: 4px;
}

.subscribe_submit {
width: 44px;
height: 25px;
color: #ffffff;
font-size: 11px;

font-family: Arial;
line-height: 25px;
text-align: center;
background-color: #2B9FAE;
border: none;
background: url("/bitrix/templates/main_page/images/subscribe_submit.png") no-repeat scroll 0 0 transparent;
}

.feeadback_success {
text-align: center;
}

.error {
text-align: center;

}

#line-above-menu {
position: relative;
z-index: 300;
}

#block-above-menu-left {
width: 440px !important;
}

#line-above-menu-button {
position: absolute;
top: 0px;
right: 8px;
width: 650px;
height: 50px;

}

#line-above-menu-button1 {
background: url('/bitrix/templates/main_page/images/hb1.png') no-repeat 0 -45px;
width: 197px;
}

#line-above-menu-button2 {
background: url('/bitrix/templates/main_page/images/hb2.png') no-repeat 0 -45px;
width: 207px;
}

#line-above-menu-button3 {
background: url('/bitrix/templates/main_page/images/hb3.png') no-repeat 0 -45px;
width: 213px;
}

.buttons_header {
height: 45px;
overflow: hidden;
display: block;
text-decoration: none;
float: left;
margin-left: 12px;
}

#line-above-menu-button .buttons_header:first-child {
margin-left: 5px;
}

.buttons_header:hover .button_text {
color: #000000 !important;
}

.buttons_header:hover {
background-position: 0px 0px !important;
}

.button_text {
text-align: center;

color: #ffffff;
font-size: 11px;
margin-top: 21px;
text-decoration: none;
font-family: gothic;
}

.text-internet-shop {
color: #817474;
font-size: 12px;
font-style: italic;
margin-left: 193px !important;
margin-top: 54px !important;
position: relative;
width: 235px;
}

#block-above-menu-center {
float: left;
margin-top: 42px !important;
width: 203px;
}

.search {
margin-left: 28px;
margin-top: 2px !important;
}

#poisk {
width: 136px !important;
}

#inp {
width: 110px !important;
}

#inp input {
width: 100px !important;
}

#block-above-menu-center {
width: 217px !important;
}

#number-phone {
width: 215px !important;
}

#block-above-menu-right {
width: 170px !important;
margin-top: 54px !important;
}

.top-menu {
border-top: 1px solid #e4dbdb;
margin-top: 10px !important;
padding-top: 10px !important;
}

#cart_line {
position: absolute;
bottom: -43px;
right: 0px;
padding-right: 17px;
}

.korzina-picture {
padding-top: 0px !important;
}

.korsina-empty {
padding-top: 8px !important;
}

.korsina-quantity-goods-price {
padding-top: 0px !important;
}

.korsina-quantity-goods-price {
margin-top: 8px;
padding-left: 0;
padding-top: 0;
text-align: right;
width: 214px;
}

.korsina-text {
display: inline;
}

.top-menu .firstmenuitem a {
padding-left: 16px !important;
}

.menutop_first {
height: 20px;
padding-top: 5px;
padding-bottom: 4px;
padding-left: 12px;
padding-right: 12px;
font-family: Arial;
font-size: 12px;
text-transform: uppercase;
display: block;
color: #333333;
text-decoration: none;
line-height: 1.2em;
}

.selected_first {
text-decoration: none !important;
}

.menutop_first:hover span, .secondlink:hover span {
border-bottom: 1px solid #333333;
}

.menutop_firstli {
float: left;
list-style: none;
}

.menutop_secondul {
position: absolute;
z-index: 10;
left: 0px;
}

#topmenu {
position: relative;
z-index: 250;
width: 100%;
height: 30px;
}

#topmenu ul {
margin: 0px;
padding: 0px;
}

#topmenu ul {
list-style: none;
}

.menutop_secondul li {
float: left;
list-style: none;
}

.menu_vipadashka div a:first-child {
padding-left: 2px !important;
}

.secondlink {
height: 20px;
padding-top: 6px;
padding-bottom: 4px;
padding-left: 14px;
padding-right: 14px;
font-family: Arial;
font-size: 12px;
text-transform: uppercase;
display: block;
color: #ffffff;
text-decoration: none;
line-height: 20px;
}

.menutop_secondul li:first-child a {
padding-left: 16px;
}

.ie10 .secondlink {
padding-left: 19px !important;
padding-right: 19px !important;
}

.menutop_secondul li:hover .secondlink, .selected111 {
background-color: #ffffff;
color: #000000
}

/*:first-child*/
.secondlink {
border-left: 1px solid #2eb3ba;
}

.selected_first {

}

.selected_first span {
border-bottom: 1px solid #FF7800 !important;
color: #FF7800 !important;
}

.menutop_secondul {
width: 100%;
background-color: #2eb3ba;
}

.menutop_secondul li {
position: relative;
z-index: 2600;
}

.menu_vipadashka {
display: none;
position: absolute;
z-index: 2700;
top: 30px;
left: 0px;
width: 465px;
background-color: #ffffff;
border-left: 1px solid #2eb3ba;
border-right: 1px solid #2eb3ba;
border-bottom: 1px solid #2eb3ba;
padding-top: 15px;
padding-bottom: 15px;
}

.menutop_secondul li:hover .menu_vipadashka {
display: block !important;
}

.menu_vipadashka_categorii {
width: 135px;
float: left;
border-right: 1px dotted #9d9d9d;
padding-left: 15px;
padding-right: 15px;
}

.menu_vipadashka_brend {
width: 119px;
float: left;
border-right: 1px dotted #9d9d9d;
padding-left: 15px;
padding-right: 15px;
}

.menu_vipadashka_color {
width: 119px;
float: left;
padding-left: 15px;
padding-right: 15px;
}

.menu_vipadashka_title {
font-size: 12px;
color: #9d9d9d;
font-family: Arial;
font-weight: bold;
margin-bottom: 5px;
margin-left: 2px;
}

.menu_vipadashka div a {
font-size: 11px;
color: #333333;
font-family: Arial;
line-height: 1.64em;
padding: 1px 2px;
}

.menu_vipadashka div a:hover {
font-size: 11px;
color: #ffffff;
background-color: #2eb3ba;
font-family: Arial;
line-height: 1.64em;
text-decoration: none;
}

h1.title {
font-size: 18px !important;
font-family: myriadpro, tahoma;
margin-left: 20px;
}

.h1_cont {
width: 100%;
height: 31px;
line-height: 31px;
border-bottom: 1px solid #000000;
}

.h1_cont h1 {
color: #777777;
font-family: Arial;
font-size: 13px;
line-height: 31px;
margin: 0px;
margin-left: 20px;
text-transform: capitalize;
}

.title_section {
position: absolute;
top: 14px;
left: 20px;
color: #777777;
font-size: 13px;
font-family: Arial;
font-weight: normal;
margin: 0px;
text-transform: none;
}

.filter-item-name {
padding: 0px;
}

.topmenu-separatop {
width: 1px;
height: 15px;
overflow: hidden;
float: left;
margin-top: 5px;
}

#top-menu {
margin: 0px;
padding: 0px;
}

.margtop20 {
margin-top: 20px !important;
}

.center-text {
text-align: center;
}

.line-goods-table {
padding: 0px;
}

.subscribe_input {
color: rgb(159, 159, 159);
}

#seo_off {
display: none;
}

.top-banner {
/*height:304px;
overflow:hidden;*/
}

#seo_on {
padding-bottom: 20px;
}

.text-below-menu h1 {
color: #5F3913;
font-size: 12px;
font-weight: bold;
text-transform: none;
margin: 0px;
}

.catalog_sub_sections {
margin-left: 15px;
}

.subscribe_main {
color: #6c6d6f;
background-color: #fff;
height: 326px;
width: 548px;
}

.subscribe_ok {
width: 548px;
height: 326px;
color: #fff;
}

.promo_image{
background-image: url("/bitrix/templates/main_page/images/girl.png");
height: 345px;
margin-left: 333px;
position: absolute;
top: -20px;
width: 230px;
}

.gift_text{
color: #59432c;
display: block;
font-size: 1.9em;
font-weight: bold;
left: 20px;
position: relative;
text-align: center;
top: 20px;
width: 280px;
}

.subscribe_text {
color: #828183;
display: block;
font-size: 1.2em;
left: -10px;
position: relative;
text-align: center;
top: 35px;
width: 340px;
}

.small_text {
color: #59432c;
display: block;
font-weight: bold;
left: 20px;
position: relative;
text-align: center;
top: 50px;
width: 280px;
}

.subscribe_form {
display: block;
left: 20px;
position: relative;
text-align: center;
top: 70px;
width: 280px;
}

.mailing-text {
background-color: #c9c5c3;
border: 1px solid #c9c5c3;
border-radius: 3px;
box-shadow: none;
height: 20px;
text-align: center;
width: 180px;
}

.mailing-submit {
background-color: #b83a3a;
border: 0 none;
border-radius: 3px;
color: white;
cursor: pointer;
font-size: 14px;
font-weight: normal;
height: 24px;
margin-top: 10px;
position: relative;
text-align: center;
vertical-align: top;
width: 184px;
}

.mailing-submit-ok {
display: block;
margin: 0 auto;
top: 100px;
}

.already_subscribe {
background-color: #c9c5c3;
border: 0 none;
border-radius: 3px;
color: #b83a3a;
cursor: pointer;
font-size: 14px;
font-weight: normal;
height: 24px;
/ / left : 298 px;
margin-top: 10px;
position: relative;
text-align: center;
/ / top : 80 px;
vertical-align: top;
width: 184px;
}

.thanks {
color: #8c7765;
display: block;
font-size: 1.8em;
margin: 0 auto;
position: relative;
text-align: center;
top: 50px;
width: 380px;
}

.if_spam {
color: #8c7765;
display: block;
font-size: 1.2em;
margin: 0 auto;
position: relative;
text-align: center;
top: 70px;
width: 380px;
}

.nphone {
font-size: 22px;
}

.nsmall {
font-size: 18px;
}

.grey {
color: #969494;
}

.broun {
color: #5f3913;
}

#number-phone a {
text-decoration: none;
}

#footer-container {
background-color: #c9c5c3;
bottom: 0;
color: #999;
font-size: 0.75em;
height: 35px;
left: 0;
letter-spacing: 2px;
margin: -48px 0 0;
overflow: hidden;
padding: 8px 0 5px;
position: fixed;
text-transform: uppercase;
width: 100%;
z-index: 110;
}

.panel-wrapper * {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.panel-wrapper {
position: fixed;
left: 0;
bottom: -64px;
overflow: hidden;
width: 100%;
font-family: sans-serif;
opacity: 0.93;
z-index: 9999;
}
.panel-controller {
position: relative;
overflow: hidden;
width: 100%;
}
.tab-controller {
background-color: #2eb3ba;
border-radius: 5px 5px 0 0;
float: right;
margin-right: 50px;
padding: 5px 10px;
}
.tab-controller * {
display: none;
font-family: sans-serif;
font-size: 11px;
//font-weight: bold;
color: white;
cursor: pointer;
}
.tab-controller .show {
display: block;
}
.panel-content {
overflow: hidden;
width: 100%;
background-color: #2EB3BA;
}

.subscribe_title_white{
color: #ffffff;
}

#g-podpiska{
padding-top: 10px;
padding-bottom: 10px;
}

.subscribe_submit_broun {
background-color: #2EB3BA;
border: 1px solid #ffffff;
color: #ffffff;
font-family: Arial;
font-size: 11px;
height: 21px;
text-align: center;
width: 65px;
}

.feeadback_success {
padding-bottom: 5px;
}

.social-wrap {
//border-radius: 6px;
display: inline-block;
font-size: 0;
line-height: 0;
padding: 0 5px 5px 0;
position: relative;
text-align: left;
z-index: 1;
}
.social-wrap a {
background: url("/bitrix/templates/main_page/images/sbv.png") no-repeat scroll 0 0 transparent;
display: inline-block;
height: 32px;
margin: 5px 0 0 5px;
padding: 0;
vertical-align: inherit;
width: 40px;
}
.social{
float: right;
padding-top: 13%;
width: 40px;
}


.social-wrap a.social-facebook {
background: ##2EB3BA; /* Цвет фона */
//opacity: 0.7;
background-position: 0 0px;
}

.social-wrap a.social-vkontakte {
background: ##2EB3BA; /* Цвет фона */
//opacity: 0.7;
background-position: 0 -37px;
}


.social-wrap a.social-youtube {
background: ##2EB3BA; /* Цвет фона */
//opacity: 0.7;
background-position: 0 -73px;
}

.social-wrap a.social-instagram {
background: ##2EB3BA; /* Цвет фона */
//opacity: 0.7;
background-position: 0 -110px;
}

.social-wrap a.social-facebook:hover{
	background-position: 0 -146px;
}

.social-wrap a.social-vkontakte:hover{
	background-position: 0 -182px;
}

.social-wrap a.social-youtube:hover{
	background-position: 0 -220px;
}

.social-wrap a.social-instagram:hover{
	background-position: 0 -256px;
}
.social_buttons{
position: fixed;
top: 192px;
right: 0;
z-index: 9999;
}

.subtext{
	float: right;
	margin-top: 14px;
}