.sort-block {
position: absolute;
right: 0px;
}
.show-nbr {
margin-left: 10px;
cursor: pointer;
padding-left: 5px;
padding-right: 22px;
border: 1px solid #bfbfbf;
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-khtml-border-radius: 5px;
background: #FFF url('images/cat-sort-arrow.png') right 3px no-repeat;
height: 20px;
overflow: hidden;
float: left;
z-index: 160;
position: relative;
font-size: 12px;
}
.show-nbr.open{
height: 100%;
}
.show-count-text {
float: left;
}
.show-count {
float: left;
}
.compare-small {
float: left;
}
.show-nt {
text-align: right;
padding-bottom: 5px;
}
.main-sort-block {
float: left;
margin-right: 20px;
}