div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-list-block{
	height: 240px;
	position:relative;
}
.news-date-time-block{
	height:2.6em;
	overflow:hidden;
}
.news-date-time {
	color:#486DAA;
}
.block-news-link {
    color: #333333;
    font-size: 12px;
    text-decoration: underline;
	line-height:1.3em;
}
.news-item-block{
    margin-bottom: 13px;	
}
.block-news-and-article-date {
    color: #9B9B9B;
    font-size: 11px;
    line-height: 1em;
    margin-bottom: 5px;
}
.block-news-link:hover{
	color:#2eb3ba;
	font-size: 12px;
	cursor: pointer;
	text-decoration:none;
}

.line-all-news-text{
  color:#2eb3ba;
  font-size: 11px;
  text-decoration: underline;
}

.link-arrow {
    margin-left: 4px;
}
.news-and-article-line-all-news {

		position:absolute;
		bottom:10px;
		left:0px;
}
.line-all-news-strelka{
  padding-top: 4px;
}

#block-bottom-text{
color:4C4B4B;
font-size:11px;
width: 730px;
margin:28 auto;
text-align: center;
}