.cat_filter_wrapper{
	width: 201px;
	font-family: "pt_sansregular"
}
#work_area .cat_filter_wrapper ul {
}
.cat_filter_wrapper li{
	list-style: none;
}
.cat_filter_wrapper li{
	margin-bottom: 15px;
	list-style: none;
	
}
.cat_filter_wrapper li.checked {
color: #ffd739;
}
.cat_filter_wrapper li label{
border-bottom: 1px dashed;

font-size: 16px;
cursor: pointer;
}
	.cat_filter_wrapper .cat_filter_wrapper_top{
		width: 201px;
		height: 7px;
		background: url('images/filter_top_bg.png') no-repeat;
	}
	.cat_filter_wrapper .cat_filter_wrapper_bottom{
		width: 201px;
		height: 7px;
		background: url('images/filter_bottom_bg.png') no-repeat;
	}	
	.cat_filter_wrapper .cat_filter_wrapper_center{
		width: 201px;
		background: url('images/filter_bg.png') repeat-y;
	}	
		.cat_filter_wrapper_center .cat_filter_wrapper_center_wrapper{
			padding: 5px 14px;
		}

	.cat-filter input.filter-ok {
	    border: 0px;
	    margin: 0;
	    padding: 0;
	    width: 167px;
	    height: 45px;
	    cursor: pointer;
	    background: url('/bitrix/templates/main_page/images/search.png') no-repeat !important;
	}		
#work_area li.show_more {
list-style: none;
}
#work_area li.show_more ul{
margin-left: 0;
}
#work_area li.show_more .less {
display: none;
}