.menutop_first{
	height:20px;
	padding-top:6px;
	padding-bottom:4px;
	padding-left:20px;
	padding-right:20px;
	font-family:Arial;
	font-size:14px;
	text-transform:uppercase;
	display:block;
	color:#000000;
	text-decoration:none;
	line-height:1.2em;	
}
.selected_first{
	text-decoration:none !important;
}
.menutop_first:hover span, .secondlink:hover span{
	border-bottom:1px solid #999999;	
}
.menutop_firstli{
	float:left;	
	list-style:none;		
}
.menutop_secondul{
	position:absolute;
	z-index:10;
	left:0px;
}
#topmenu{
	position:relative;
	z-index:250;
	width:100%;
	height:60px;	
}
#topmenu ul{
	margin:0px;
	padding:0px;
}
#topmenu ul{
	list-style:none;	
}
.menutop_secondul li{
	float:left;	
	list-style:none;	
}
.secondlink{
	height:20px;
	padding-top:6px;
	padding-bottom:4px;
	padding-left:20px;
	padding-right:20px;
	font-family:Arial;
	font-size:14px;
	text-transform:uppercase;
	display:block;
	color:#ffffff;
	text-decoration:none;
	line-height:20px;		
}
.ie10 .secondlink{
	padding-left:19px !important;
	padding-right:19px !important;
}
.menutop_secondul li:hover .secondlink,.selected111{
	background-color:#ffffff;
	color:#000000
}
/*:first-child*/
.secondlink{
	border-left:1px solid #2eb3ba;
}

.selected_first{
	color:#ffffff !important;
	background-color:#2eb3ba;	
}
.selected_first span{
	border-bottom:1px solid #97d9dd !important;	
	color:#ffffff !important;	
}
.menutop_secondul{
	width:100%;
	background-color:#2eb3ba;	
}

.menutop_secondul li{
	position:relative;
	z-index: 2600;
}

.menu_vipadashka{
	display:none;
	position:absolute;
	z-index:2700;
	top:30px;
	left:0px;
	width:315px;
	background-color:#ffffff;
	border-left:1px solid #2eb3ba;
	border-right:1px solid #2eb3ba;	
	border-bottom:1px solid #2eb3ba;
	padding-top:15px;		
	padding-bottom:15px;	
}
.menutop_secondul li:hover .menu_vipadashka{
	display:block !important;	
}
.menu_vipadashka_categorii{
	width:135px;
	float:left;
	border-right:1px dotted #9d9d9d;
	padding-left:15px;	
	padding-right:15px;		
}
.menu_vipadashka_brend{
	width:119px;
	float:left;
	padding-left:15px;	
	padding-right:15px;		
}
.menu_vipadashka_title{
	font-size:12px;
	color:#9d9d9d;
	font-family:Arial;
	font-weight:bold;
	margin-bottom:5px;
	margin-left:2px;
}

.menu_vipadashka div a{
	font-size:11px;
	color:#333333;
	font-family:Arial;	
	line-height:1.64em;
	padding:1px 2px;
}
.menu_vipadashka div a:hover{
	font-size:11px;
	color:#ffffff;
	background-color: #2eb3ba;
	font-family:Arial;	
	line-height:1.64em;
	text-decoration:none;
}
.topmenu-separatop{
	width:2px;
	height:15px;
	overflow:hidden;
	float:left;
	margin-top:5px;
}