ul.breadcrumb-navigation
{	
	padding:0 110px 0 0; 

	list-style:none;
	margin:0 0 9px 0;
}

ul.breadcrumb-navigation li
{
	display:inline;
}
ul.breadcrumb-navigation a:hover{text-decoration:none;}
ul.breadcrumb-navigation a
{
	font-size:14px;
	
}

ul.breadcrumb-navigation span
{
	font-size:14px;
}