.events_a_img{display:block;
	text-decoration:none;
	height:236px;
	position:relative;
	overflow:hidden;
	width:430px;
	margin-bottom:12px;
	
	}
	
.events_name{color:#FFF;
	font-size:28px;
	width:402px;
	padding:14px;
	position:absolute;
	bottom:0;
	left:0;
	background:url('images/back_name_events.png');
	}
	
.events_txt{padding:0 12px;}
.events_left{float:left;
	font-size:14px;
	color:#404040;
	font-family:Arial;
	width:315px;}
.events_right{float:left;
	font-family:Arial;
	font-size:11px;

	width:315px;
	margin-left:25px;
	width:65px;
	color:#c2207d;}
	
.events_item{float:left;
	width:430px;
	margin-bottom:20px;}
	
