.price{
position:relative;
}
.scroll-bag-table{
	padding:0px;
}
.no-photo-div-big{
	height:130px; 
	width:130px;
}
.item_price{
	color:#000000;
}



.vkladka, .vklad {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    float: left;
    margin-bottom: 0 !important;
    padding: 5px 10px !important;
    text-indent: 0 !important;
}
.vkladka_hover, .vkl_hover {
    background-color: #2eb3ba;
    color: #ffffff !important;
}


.buttom-korzina-scroll-item .bt3 {
    background: none repeat scroll 0 0 #2b9fae;
    border-color: #52cfdf #32a6b4 #20828f;
    border-style: solid;
    border-width: 1px;
    color: white;
    cursor: pointer;
    font-size: 8px;
    height: 13px;
    margin-top: 3px;
    padding: 1px 8px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 61px;
}
.buttom-korzina-scroll-item .bt3 {
    margin: 0 auto !important;
}

