@font-face {
        font-family: Grot_c;
        src: url('font/GROT_C.TTF');
		
}

a{color:#fc015a;}
h1{font-size:49px;
	font-weight:normal;
	margin:0;}
html{height: 100%;
min-height: 100%;
}
body{margin:0;
	padding:0;
	font-family:Grot_c, Arial;
	color:#010101;
	background:#0c1512;
	min-height:100%;
		height:100%;
	}
	
#header{width:100%;
	height:44px;
	background:url('/bitrix/templates/wit_ru/images/header.png') center 0 no-repeat;}
#header_two{width:913px;
	margin:0 auto;
	height:44px;
	position:relative;}
#footer{height:130px;
	width:100%;
	position:relative;
	z-index:200;
	margin-top:-175px;
	background:url('/bitrix/templates/wit_ru/images/footer.png');}
#footer_two{width:913px;
	margin:0 auto;
	position:relative;}
#logo_footer{
	top:25px;
	left:0;
	position:absolute;
	display:block;
	text-decoration:none;
	width:92px;
	height:54px;
	background:url('/bitrix/templates/wit_ru/images/logo_footer.png');
}

.copyright{
	width:110px;
	top:45px;
	position:absolute;
	left:125px;
	color:#717171;
	font-size:16px;
	}
.contacts_footer{width:220px;
	top:45px;
	position:absolute;
	left:280px;
	color:#717171;
	font-size:16px;}
#menu_footer{position:absolute;
	top:50px;
	left:525px;}

	
.clear, .clear:after
{
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
	line-height: 0;
 font-size: 1px;
}

#lang{position:absolute;
	top:16px;
	right:0;}
.eng{
	float:left;
	text-decoration:none;
	display:blcok;
	width:21px;
	height:15px;
	margin-left:9px;
	background:url('images/en.jpg') no-repeat;}
.ru{
	float:left;
	text-decoration:none;
	display:blcok;
	width:21px;
	height:15px;
	margin-left:9px;
	background:url('images/ru.jpg') no-repeat;}
.it{
	float:left;
	text-decoration:none;
	display:blcok;
	width:21px;
	height:15px;
	margin-left:9px;
	background:url('images/it.jpg') no-repeat;}
.partner{display:block;
	text-decoration:none;
	border-bottom:1px dashed #010101;
	color:#010101;
	position:absolute;
	top:15px;
	font-size:18px;
	padding:0 2px;
	right:118px;
	line-height:16px;
	}
#wrapper{
	min-width:1000px;
	background:#0c1512;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	}
#wrapper_two{

	min-width:1000px;
	background:url('images/back_one.jpg') center 0 no-repeat;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	}
#wrapper_two_index{
	background:url('images/back_one.jpg') center -250px no-repeat;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	}
#content{
	width:913px;
	position:relative;
	margin:0 auto;}
.top_inc{background:url('images/wit.png') 270px 38px no-repeat;
	padding:110px 0 65px 540px;
	font-size:29px;
	line-height:32px;
	}
.girl{position:absolute;
	width:593px;
	height:685px;
	background:url('images/girl.png')no-repeat;
	left:-305px;
	bottom:0;
	z-index:20;
	top:10px;}
.slider{height:585px;
	background:url('images/slider_back.png') 100px 0 repeat-y;
	position:relative;
	z-index:10;}
.slider_two{position:absolute;
	width:515px;
	height:486px;
	right:35px;
	top:-50px;
}

#content_one{margin:30px 0 45px 0;
	padding-bottom:175px;
	}
#content_two{
	background:#FFF;
	padding:35px 40px 30px 40px;
	
	
}
.content_left{padding:41px 20px 15px 136px;
	width:124px;
	display:block;
	text-decoration:none;
	float:left;
	font-size:18px;
	color:#010101;
	line-height:18px;
	background:url('images/wit_top.png') 0 5px no-repeat;}
.wit_t{background:url('images/wit_t.png') no-repeat;
	width:1px;
	height:99px;
	float:left;}
	
.content_right{float:right;
	width:527px;
	position:relative;
	padding-top:5px;}
#content_top{margin-bottom:40px;}

.girl_two{position:absolute;
	width:593px;
	height:685px;
	background:url('images/girl.png')no-repeat;
	left:-305px;
	z-index:20;
	top:-685px;}
.pagenav{text-align:center;}

.catalog_element{width: 750px;
height: 480px;
position: relative;
}

.ContentWrap{
	padding:30px;
	top: 0px;
	position: absolute;
	left: -405px;
	background:#FFF;

}

#ov_div .close {
	display: none;
	width: 13px;
	left: 377px;
	cursor: pointer;
	top: 15px;
	z-index: 1000;
	position: absolute;
	text-decoration: none;
	height: 14px;
	background: url('images/close.jpg') no-repeat;
}

.catalog_element_left{float:left;
	width:210px;}
	
.catalog_element_left .artikul_name{font-size:16px;
	margin-bottom:10px;}
.catalog_element_left .art_v_name{color:#f10156;
	font-size:20px;
	margin-bottom:30px;}
.catalog_element_left .razmer{font-size:16px;
	margin-bottom:12px;
	}
.catalog_element_left .razmer span{color:#989898;}
.catalog_element_left  .color_s{margin-bottom:10px;
	font-size:16px;
	
	}
.catalog_element_left .color_s span{color:#989898;}
.count_val{margin-bottom:12px;}
.count_val span{color:#989898;font-size:16px;}
.count_val input{width: 22px;
	text-align: center;
	border: 1px solid #c1bdbd;
	padding: 2px 0;}
.price_offers span{color:#989898;}
.price_offers {margin-bottom:25px;
	}
.price_offers{font-size:16px;}
.opis_val{font-size:14px;
	margin-bottom:20px;
	}
	
.add_basket_ajax{color: #FFF;
	background: url('images/basket_det_no.png') repeat-x;
	font-size: 18px;
	font-weight: bold;
	padding:7px 0;
	width: 164px;
	box-shadow: -1px 2px 10px #454545;
	border: none;
	text-align: center;
	cursor: pointer;
	margin-bottom:35px;

	}
.inback_detail{
	background: url('images/basket_det_yes.png') repeat-x;
}

.visual_right{float:right;
	width:480px;}
	
	
	
	
.visual-galery{

	
}
.visual{
	width:400px;
	height:341px;
	padding:0 40px;
	position:relative;
	overflow:hidden;
	margin-bottom:20px;
}
.visual-galery ul{
	margin:0px;
	padding:0px;
}

.visual .bag-table a{height:341px;
	display:block;
	text-decoration:none;}
.visual-galery ul li{
	list-style:none;
	float:left;
	display:inline-block;
	width:90px;
	height:74px;
	text-align:center;
	margin-bottom:10px;
}
.visual-galery ul li a{
	padding:0px;
}
.visual-galery ul li a img{
	padding:0px;
}
.visual .prev{
    background: url(images/prev.png) no-repeat;
    display: block;
    font-size: 0;
    height: 96px;
    left: 5px;
    position: absolute;
    top: 122px;
    width: 29px;
    z-index: 100;	
}
.visual .next{
	background: url(images/next.png) no-repeat;
    display: block;
    font-size: 0;
    height: 96px;
    right: 5px;
    position: absolute;
    top: 122px;
    width: 29px;
    z-index: 100;	
}

.visual .prev:hover{
	background: url(images/prev_hover.png) no-repeat !important;
}
.visual .next:hover{
	background: url(images/next_hover.png) no-repeat!important;
}
	
.model_zag{color:#989898;
	font-size:16px;
	margin-bottom:10px;}
	
.other_color_no {
float: left;
width: 35px;
margin-bottom: 7px;
}
.other_color {
float: left;
width: 35px;
cursor: pointer;
margin-bottom: 7px;
}
.color_val{color:#fc015a !important;
	border-bottom:1px dashed #fc015a;}
.pre_back {
width: 750px;
display: none;
height: 480px;
position: absolute;
top: 0;
left: 0;
z-index: 1000;
background: url('images/1px_back_50.png');
}
.pre_back .preloader {
background: url('images/130.gif');
width: 128px;
height: 128px;
position: absolute;
left: 310px;
top: 176px;
}

.search-artikul{position:absolute;
	top:50px;
	right:0;
	width:140px;
	height:24px;
	border:1px solid #bfbbbb;}
.search-art-left{position:absolute;
	top:0;
	left:0;}
.search-art-left input{border:none;
	background:#FFF;
	color:#bebebe;
	font-size:16px;
	outline:none;
	width:106px;
	padding:0 5px;
	font-family:Grot_c, Arial;}
.search-art-right{position:absolute;
	top:0;
	right:0;}
.search-art-right input{
	background:url('images/im_24.png') no-repeat;
	border:none;
	height:24px;
	width:24px;
	cursor:pointer;
	outline:none;
	}
.partner_inc{margin-bottom:60px;
	font-size:20px;}
	
.prt_fl{width:244px;
	float:left;}
.sub_div{text-align:right;}
.sub_div input{
	background:url('images/sub_inp.png') repeat-x;
	font-family:Grot_c, Arial;
	color:#FFF;
	font-size:24px;
	letter-spacing:1px;
	border:none;
	padding: 13px 25px 14px 25px;
	box-shadow: -1px 2px 10px #454545;
	cursor: pointer;

	}
	
	
	
	
	
.filter{position:relative;}

.name_filter {
	float: left;
	font-size: 18px;
	color: #2d869e;
}

.fitler_price {
float: left;
margin-left: 10px;
position: relative;
}

.fitler_price span, .fitler_color span {
color: #696969;
font-size: 18px;
cursor: pointer;
border-bottom: 1px dashed #696969;
display: block;
position: relative;
z-index: 100;
}

.filter_block {
position: absolute;
z-index: 90;
padding: 45px 13px;
border-left: 1px solid #e8e8e8;
border-right: 1px solid #e8e8e8;
border-bottom: 1px solid #e8e8e8;
top: -10px;
left: -10px;
background: url(/bitrix/templates/fb_ru/images/back_filter.png);
width: 200px;
display: none;
box-shadow: 0 6px 4px -4px #999;
}

.price_select {
float: left;
width: 120px;
margin-right: 5px;
font-size: 18px;
color: #696969;
padding-left: 15px;
margin-bottom: 8px;
background: url(/bitrix/templates/fb_ru/images/select_filter2.png) 0 3px no-repeat;
cursor: pointer;
}

.fitler_color {
float: left;
margin-left: 15px;
position: relative;
}
.fitler_price span, .fitler_color span {
color: #696969;
font-size: 18px;
cursor: pointer;
border-bottom: 1px dashed #696969;
display: block;
position: relative;
z-index: 100;
}

.color_select {
float: left;
width: 80px;
margin-right: 5px;
font-size: 18px;
color: #696969;
padding-left: 15px;
margin-bottom: 8px;
background: url(/bitrix/templates/fb_ru/images/select_filter2.png) 0 6px no-repeat;
cursor: pointer;
}

.filter_clear {
float: left;
margin-left: 15px;
position: relative;
}

.filter_clear a {
color: #696969;
font-size: 18px;
cursor: pointer;
border-bottom: 1px dashed #696969;
display: block;
position: relative;
z-index: 100;
text-decoration: none;
}
.fitler_color:hover .filter_block{display:block;}
.fitler_price:hover .filter_block{display:block;}

.row {
background-position: 0 -85px;
}

.posit_cat_pre {
width: 100%;
height: 100%;
position: absolute;
display: none;
background: url(/bitrix/templates/fb_ru/images/back_filter.png);
z-index: 1000;
}
#bbb_cat {
position: relative;
}