table.sale_order_full
{
	width:100%;
	background-color:#F9FAFB;
	border-collapse:collapse;
}

/*Table head*/
table.sale_order_full th
{
	/*background-image:url(images/table_head.gif);
	background-repeat:repeat-x;*/
	text-align: left;
	color:#25639A;
}

/* Table cells and heads*/
table.sale_order_full th, table.sale_order_full td
{
	border:1px solid #ADC3D5;
	padding: 3px 5px;
	vertical-align:top;
}
table.sale_order_full_table
{
	width:100%;

}
table.sale_order_full_table label {

}
/* Table cells and heads*/
table.sale_order_full_table td
{
	padding: 3px 5px;

}

table.sale_order_full_table td.radio {
	vertical-align:middle;
}

table.sale_order_full_table td table td {
	padding:0;
	vertical-align:middle;
}

table.sale_order_full_table td img {
	margin-right:5px;
}
.sof-req{color:red;}
.sof-ok{color:green; font-weight:bold;}
.search-popup{z-index:10000 !important;}
.search-popup-row{}

.sale_order_full_table_no_border{float:left;
	width:242px;
	margin-right:50px;}
.sale_order_full_table_no_border input[type="text"]{
	border: 1px dashed #000;
padding: 6px 10px;
width: 220px;
color: #959595;
font-size: 15px;
font-style: italic;
font-family: Arial;
}

.sale_order_full_table_no_border textarea{
resize: none;
font-family: Arial;
border: 1px dashed #000;
padding: 6px 10px;
width: 220px;
height: 70px;
color: #959595;
font-size: 15px;
font-style: italic;

}

.email_text{color:#959595;
	font-size:12px;
	font-style:italic;
	padding:10px 0 15px 10px;
	width:232px;}
.prop-a{margin-bottom:15px;}

.search-popup{width:238px !important;}

#order_form_content{position:relative;}
.payment_abs{position:absolute;
	top:5px;
	right:0;
	width:220px;}
.sposob{margin-bottom:25px;
	font-size:16px;
	color:#2d869e;
	font-weight:bold;}
.block_payment{color:#333;
	font-size:15px;
	text-decoration:none;
	border-bottom:1px dashed #333;}
.select_payment{color:#c2207d !important;
	border:none !important;
	font-weight:bold;}
.order_summ{width:220px;
	position:absolute;
	bottom:0;
	right:0;}


.down_line {
font-family: Arial;
margin-bottom: 15px;
}

.down_one {
color: #696969;
font-size: 16px;
float: left;
}
.down_two {
float: right;
color: #696969;
font-size: 16px;
width: 100px;
text-align: right;
}
.allsumm {
color: #c2207d !important;
font-weight: bold !important;
font-size: 21px !important;
margin-left: 2px;
}

.allsumm2 {
color: #c2207d !important;
font-weight: bold !important;
font-size: 21px !important;
}

.line_order{width:100%;
	border-top:1px dashed #acacac;
	height:1px;}
	
.ord_but{float:right;
	}
.ord_but input{font-size: 16px;
color: #FFF;
padding: 5px 30px;
background: #c2207d;
border: none;
cursor: pointer;
font-family: Georgia;}
.back_order{font-size: 16px;
color: #FFF;
padding: 5px 16px;
background: #4590a5;
border: none;
cursor: pointer;
font-family: Georgia;
display:block;
text-decoration:none;
float:left;}