.slider-list{
	height:486px;
}

.scrollable {
  /* required settings */
  position:relative;
  overflow:hidden;
  width: 415px;
  height:486px;

}
.scrollable .items {
  /* this cannot be too large */
  width:20000em;
  position:absolute;
}
 .items .it_slider {
  float:left;
  display:block;
  text-decoration:none;
  width: 415px;
  color:#010101;
}
.imm{margin-bottom:13px;}
.prev{position:absolute;
	left:-42px;
	top:130px;
	width:42px;
	cursor:pointer;
	height:137px;
	background:url('/bitrix/templates/wit_ru/images/left.png') no-repeat;
	z-index:1000;}
	
	
.next{position:absolute;
	right:58px;
	top:130px;
	cursor:pointer;
	width:42px;
	height:137px;
	background:url('/bitrix/templates/wit_ru/images/right.png') no-repeat;
	z-index:1000;}
.name_sl{margin:0px 0 40px 0px;
	color:#2d869e;
	font-size:41px;
	width:240px;
	line-height:45px;
	}
.txt_sl{color:#000;
	font-size:14px;

	width:240px;}
.imm{text-align:center;}
.nm{font-size:18px;
	background:url('/bitrix/templates/wit_ru/images/b_nm.png') no-repeat;
	padding:8px 0 12px 48px;
	margin-left:115px;}