#catalog{margin-bottom:60px;}
#catalog .cat_item{margin:0 20px 30px 20px;
	float:left;
	width:179px;}
#catalog .cat_item_tab{text-align:center;
	vertical-align:bottom;
	padding-bottom:5px;
	display:table-cell;
	width:179px;
	}
	
#catalog .name{color:#707070;
	font-size:14px;
	font-family:Arial;
	margin-bottom:5px;
	text-align:center;}
#catalog .price{color:#2d869e;
	font-size:15px;
	margin-bottom:5px;
	text-align:center;}
.cat_item_podrobno{
	position:relative;}
.in_basket{color:#FFF;
	background:#c2207d;
	font-size:12px;
	padding:3px 27px;
	border:none;
	cursor:pointer;
	margin-left:33px;}
.cat_item_link{display:none;
	text-decoration:none;
	position:absolute;
	background:url('/bitrix/templates/fb_ru/images/podrobno_it.png') center center no-repeat;
	width:179px;
	height:104px;
	z-index:100;
	}
.cat_item_podrobno:hover .cat_item_link{display:block;}

.ContentWrap {
	top: 0px;
	position: absolute;
	left: -489px;
	background:#FFF;
	-moz-box-shadow: 0 0 30px #000;
	-webkit-box-shadow: 0 30px #000;
	box-shadow: 0 0 30px #000;
	
}
.no_sklad{color:#a8a8a8;
	font-size:12px;
	width:110px;
	margin-left:32px;
	padding:3px 0;
	text-align:center;
	border:1px dashed #c4c4c4;}
	
.in_bask{
	color:#FFF;
	background:#c2207d;
	font-size:12px;
	padding:3px 0;
	width:112px;
	border:none;
	text-align:center;
	cursor:pointer;
	margin-left:33px;
	}
.inback{color: #a8a8a8 !important;
font-size: 12px !important;
width: 110px !important;
margin-left: 32px !important;
padding: 2px 0 !important;
text-align: center !important;
background:none  !important;
border: 1px dashed #c4c4c4 !important;}
.cat_item_t{margin-bottom:5px;}