.catalog-price {
	 color:red;
}
div.catalog-section table td {
	padding-right:10px;
	padding-top:10px;
}


#catalog-all-goods {
    padding-left: 19px;
}
.catalog-item-line .catalog-item:first-child {
    margin-left: 0 !important;
}
.catalog-item {
    float: left;
    margin-left: 10px;
    padding: 8px 5px 15px;
    position: relative;
    width: 175px;
}
.block-item-bag {
    padding-bottom: 5px;
    width: 175px;
	position:relative;
	z-index:5;
}
.block-item-bag .icons{
	position:absolute;
	z-index:15;
}
.catalog-title-brand {
    font-size: 14px;
    text-decoration: underline;
}
.all-text-under-bag {
    text-align: center;
}

.catalog-text-description {
    color: #333333;
    font-size: 9px;
    text-align: center;
}
.catalog-line-price {
    padding-top: 2px;
}

span.old-price {
    font-size: 9px;
    margin-right: 5px;
    text-decoration: line-through;
}

span.new-price {
    color: #FF7700;
    font-size: 14px;
    font-weight: bold;
}

span.new-price-rubls {
    color: #FF7700;
    font-size: 12px;
    font-weight: bold;
}
.all-text-under-bag a:hover{
	text-decoration:none !important;
}