.pagenav span{font-size:24px;
	padding:0 4px;
	}
	
.pagenav a{font-size:18px;
	padding:0 4px;}
.pg_left{padding:11px 13px !important;
	background:url('images/pg_left.png') 0 center no-repeat;}
.pg_right{padding:11px 13px !important;
	background:url('images/pg_right.png') right center no-repeat;}
.pagenav {margin-top:10px;}