.price{
position:relative;
}
.icons{
    left: 147px;
    position: absolute;
    top: 8px;
}
.scroll-bag-table{
	padding:0px;
}
.no-photo-div-big{
	height:130px; 
	width:130px;
}
.item_price{
	color:#000000;
}
.icons-sale{
    bottom: -25px !important;
    left: 173px !important;
    position: absolute;
    z-index: 15;
}