.events_item{width:237px;
	float:left;}
.events_img{display:block;
	margin-bottom:25px;
	text-decoration:none;
	overflow:hidden;}
.dat_ev{color:#a7a7a7;
	font-size:16px;
	margin-bottom:13px;}
	
.events_name{font-size:16px;
	color:#ec0155;
	margin-bottom:15px;
	display:block;
	text-decoration:none;
	}
.events_txt{color:#737373;
	font-size:14px;}