.part_right{float:right;
	width:242px;}
.part_left{float:left;
	width:242px;}
.part_right input[type="text"],
.part_left input[type="text"]{
	border:1px dashed #000;
	padding:6px 10px;
	width:220px;
	color:#959595;
	font-size:15px;
	font-style:italic;
	font-family:Arial;
	}
.part_right input[type="password"],
.part_left input[type="password"]{
	border:1px dashed #000;
	padding:6px 10px;
	width:220px;
	color:#959595;
	font-size:15px;
	font-style:italic;
	font-family:Arial;
	}
.part_right textarea,
.part_left textarea{
	resize:none;
	font-family:Arial;
	border:1px dashed #000;
	padding:6px 10px;
	width:220px;
	height:70px;
	color:#959595;
	font-size:15px;
	font-style:italic;
	}
.pa_inp{margin-bottom:14px;
	position:relative;
	}
.pa_abs{color: #959595;
font-size: 15px;
font-style: italic;
font-family: Arial;
position:absolute;
padding: 8px 12px;
top:1px;
cursor:text;
left:0;
width:219px;}
.reg_nm{color:#ffffff;
	font-size:19px;
	background:#c2207d;
	padding:3px 28px 5px 28px;
	cursor:pointer;
	border:none;
	font-family:Georgia;
	}