div.view-list {
	width: 200px;
	border: 1px solid #CCC;
}
div.view-header {
	height: 20px;
	text-align: center;
	background-color: #CCC;
	margin-bottom:10px;
}
div.view-item {
	text-align: center;
	margin-bottom: 10px;
}
.catalog-item:first-child{
	margin-left:0px;
}
.catalog-line-price{
	text-align:center;
}
.buttom-korzina-scroll-item .bt3{
	margin:0 auto !important;
}
.buttom-korzina-scroll-item{
	text-align:center;
}